v-bottom-nav.bottom-tab-height(fixed, :value='true', height="48px", :active.sync="bottomTab", v-if="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")
    v-layout.tab-nav(align-center='', justify-center='')
        v-btn.py-2(flat, color='deep-orange darken-3', value='home', href='/')
            //span.caption Home
            v-icon.ma-0 home
        v-btn.py-2(flat='', color='deep-orange darken-3', value='find', href='/find')
            //span.caption Favorites
            v-icon.ma-0 search
        v-btn.py-2.btn--active.dal-small-card(color='deep-orange darken-3', :value='bottomTab', dark, style='background-color: #ff5722!important', @click='oneClick.action()')
            //span.caption Nearby
            v-icon.ma-0 camera_alt
        v-btn.py-2(flat='', color='deep-orange darken-3', value='lost', href='/lost')
            //span.caption Nearby
            v-icon.ma-0 cloud_upload
        v-btn.py-2(flat='', color='deep-orange darken-3', value='manage', href='/manage', v-if="loginData.user !== null && loginData.user.admin == 1")
            //span.caption Nearby
            v-icon.ma-0 build
        v-btn.py-2(flat='', color='deep-orange darken-3',  @click="loginData.dialog = true;", v-else-if="loginData.user === null")
            v-icon.ma-0 person
        v-btn.py-2(flat='', color='deep-orange darken-3',  @click="loginData.dialog = true;", v-else-if="loginData.user !== null")
            v-icon.ma-0 person


v-dialog.md6(v-model='oneClick.data.dialog',  scrollable, max-width='600px', persistent)
    v-card
        v-card-text.subheading.deep-orange.darken-3.white--text.text-xs-center.py-2(icon) 간편 유실물 등록
        v-card-text.pa-2
            //form(action='/lost' method='post' enctype="multipart/form-data", id='image-form')
            input(id='oneClick_file', type='file', name='file', @change='oneClick.imageChange()', accept="image/*" style='display: none;')
            v-layout(xs12, align-center, wrap)
                v-flex(xs12, text-xs-center)
                    img.dal-image-card(:src='oneClick.data.imgSrc', id='uploaded-img', width='80%', v-if='oneClick.data.isFile')
                v-flex.mt-3(xs12)
                    v-divider


                v-flex.text-xs-center.mt-3(xs12)
                    .caption(v-if='oneClick.data.isRecognitionProgress') 카테고리를 인식 중입니다.
                    .caption(v-else) 카테고리
                    v-progress-circular.mt-2(indeterminate, color="orange darken-3", width='2', v-if='oneClick.data.isRecognitionProgress')
                v-layout.mt-2(wrap, justify-center)
                    v-breadcrumbs.pa-0(v-if="oneClick.data.category != null", justify-center)
                        v-icon(slot='divider') chevron_right
                        v-breadcrumbs-item(v-for='item in oneClick.getCategoryBreadcrumbs()', :key='item')
                            | {{ item }}
                v-flex.text-xs-center.pt-2(xs12, v-if='!oneClick.data.isRecognitionProgress')
                    v-btn.ma-0(flat, small, color='grey', @click='oneClick.data.categoryDialog = true') 변경하기
                    v-btn.ma-0(flat, small, color='grey', @click='oneClick.data.recognitionDialog = true') 인식결과보기
                //v-flex.text-xs-center(xs12, v-if='!oneClick.data.isRecognitionProgress')
                //    v-btn(flat, small, color='grey', @click='oneClick.data.recognitionDialog = true') 인식결과보기
                    //v-flex.mt-2.rounded-expansion-panel(xs12)
                    //    v-expansion-panel.elevation-0(v-if='oneClick.data.recognitionData != null', popout)
                    //        v-expansion-panel-content
                    //            div.pl-0.grey--text(slot='header') 이미지 인식 결과 보기
                    //            v-data-table(:headers="oneClick.data.recognitionDataHeaders", :items='oneClick.data.recognitionData', hide-actions, disable-initial-sort)
                    //                template(slot='items', slot-scope='props')
                    //                    tr(@click="oneClick.changedCateogryFromResult(props.item);")
                    //                        td {{oneClick.getCategoryStringFromResult(props.item.title)}}
                    //                        td.text-xs-right {{props.item.accuracy}}%
                v-flex.mt-3(xs12)
                    v-divider


                v-layout(wrap, v-if="oneClick.data.brands.length > 0")
                    v-flex.text-xs-center.mt-3(xs12)
                        .caption 브랜드
                    v-layout.mt-2(wrap, justify-center)
                        v-chip(v-for='tag in oneClick.data.brands', :class="oneClick.data.selectedBrands.includes(tag) > 0 ? 'elevation-2' : 'elevation-0'", :color='oneClick.data.selectedBrands.includes(tag) > 0 ? "orange darken-2" : "grey"', text-color='white', @click='oneClick.chageSelectedBrand(tag)')
                            strong.title.mr-1 #
                            strong {{ tag }}
                    v-flex.text-xs-center.mt-2(xs12, v-if='oneClick.data.brands.length > 0')
                        .caption.grey--text 클릭해서 비활성화
                    v-flex.mt-3(xs12)
                        v-divider


                v-flex.mt-3.text-xs-center(xs12, )
                    .caption(v-if='oneClick.data.isTagProgress') 관련된 태그를 인식 중입니다.
                    .caption(v-else) 연관태그
                    v-progress-circular.mt-2(indeterminate, color="orange darken-3", width='2', v-if='oneClick.data.isTagProgress')
                v-layout.mt-2(wrap, justify-center)
                    v-chip(v-for='tag in oneClick.data.tags', :class="oneClick.data.selectedTags.includes(tag) > 0 ? 'elevation-2' : 'elevation-0'", :color='oneClick.data.selectedTags.includes(tag) > 0 ? "orange darken-2" : "grey"', text-color='white', @click='oneClick.changeSelectedTags(tag)')
                        strong.title.mr-1 #
                        strong {{ tag }}
                    v-flex.text-xs-center(xs12, v-if='!oneClick.data.isTagProgress && oneClick.data.tags.length == 0')
                        .caption.grey--text 인식된 연관 태그가 없습니다.
                v-flex.text-xs-center.mt-2(xs12, v-if='oneClick.data.tags.length > 0')
                    .caption.grey--text 클릭해서 비활성화
                v-flex.mt-3(xs12)
                    v-divider


                v-flex.text-xs-center.mt-3(xs12)
                    .caption(v-if='oneClick.data.locationProgress') 현재 위치를 인식 중입니다.
                    .caption(v-else) 습득 장소
                    v-progress-circular.mt-2(indeterminate, color="orange darken-3", width='2', v-if='oneClick.data.locationProgress')
                v-flex.text-xs-center.mt-2(xs12, v-if="!oneClick.data.locationProgress && oneClick.data.locationFail")
                    .caption 위치 인식에 실패하였습니다.
                v-layout.mt-2.mx-3(wrap, justify-center, v-if='!oneClick.data.locationProgress')
                    v-flex(xs12)
                        v-select.xs12(color="orange darken-2", :items='oneClick.data.buildings', v-model='oneClick.data.selectedBuilding', label='건물 선택', auto, append-icon='account_balance', autocomplete, dense)
                v-flex.text-xs-center(xs12, v-if='!oneClick.data.locationProgress')
                    v-btn.ma-0(flat, small, color='grey', @click='oneClick.getCurrentLocation()') 다시시도
                v-flex.mt-3(xs12)
                    v-divider


                v-flex.text-xs-center.mt-3(xs12)
                    .caption 습득일
                v-layout.mt-2.mx-3(xs12, align-center, justify-center)
                    v-dialog(ref='oneClick_date_dialog', persistent, v-model='oneClick.data.dateModal', lazy, full-width, width='330px', :return-value.sync='oneClick.data.date', style='width: 100%;')
                        v-text-field(color="orange darken-2", slot='activator', label='습득일', v-model='oneClick.data.date', readonly)
                        v-date-picker(v-model='oneClick.data.date', locale="ko-kr", scrollable, lazy, full-width, width='330px', color="brown darken-1", name='date')
                            v-spacer
                            v-btn(flat='', color='primary', @click='oneClick.data.dateModal = false') Cancel
                            v-btn(flat='', color='primary', @click='$refs.oneClick_date_dialog.save(oneClick.data.date)') OK
                v-flex.mt-3(xs12)
                    v-divider


                v-flex.text-xs-center.mt-3(xs12)
                    .caption 전달방식
                v-layout.mt-2.mx-3(xs12, align-center, justify-center)
                    v-checkbox(label="직접 주인에게 전달하겠습니다.", v-model="oneClick.data.isDirect", color="orange darken-3")


        v-divider
        v-card-actions
            v-spacer
            v-btn(color='error', flat, @click="oneClick.reset()") 취소
            v-btn(color='info', flat, :disabled='oneClick.checkSubmit()', @click="oneClick.submit()") 제출

v-dialog(v-model='oneClick.data.categoryDialog', max-width='500px')
    v-card
        v-card-title.headline 카테고리 선택
        v-divider
        v-card-text
            v-layout(wrap)
                v-layout.mr-1(xs6)
                    v-flex(xs12)
                        v-list(one-line)
                            v-subheader Category 1
                            template(v-for='(item, index) in Object.keys(oneClick.data.categoryData)')
                                v-list-tile(avatar, @click='oneClick.changeSubCategories(item)', :key='item.name', :color="oneClick.isSameCategoryData(oneClick.data.category, oneClick.data.categoryData[item]) ? 'orange darken-2' : '' ")
                                    v-list-tile-content
                                        v-list-tile-title(v-html='oneClick.data.categoryData[item].ko', :class="oneClick.isSameCategoryData(oneClick.data.category, oneClick.data.categoryData[item]) ? 'title' : '' ")
                                    v-list-tile-action
                                        v-icon(:color="oneClick.isSameCategoryData(oneClick.data.category, oneClick.data.categoryData[item]) ? 'orange darken-2' : 'grey'") keyboard_arrow_right

                v-layout.ml-1(xs6)
                    v-flex(xs12)
                        v-list(one-line)
                            v-subheader Category 2
                            template(v-for='(item, index) in oneClick.data.subcategories')
                                v-list-tile(avatar, @click='oneClick.data.subcategory = item; oneClick.data.categoryDialog=false', :key='item.name', :color="oneClick.isSameCategoryData(oneClick.data.subcategory, item) ? 'orange darken-2' : '' ")
                                    v-list-tile-content
                                        v-list-tile-title(v-html='item.ko', :class="oneClick.isSameCategoryData(oneClick.data.subcategory, item) ? 'title' : '' ")
        v-divider
        v-card-actions
            v-spacer
            v-btn(color='error', flat='flat', @click.native="oneClick.data.categoryDialog = false") Ok

v-dialog(v-model='oneClick.data.recognitionDialog', max-width='500px')
    v-card
        v-card-title.headline.pb-0 이미지 인식 결과
        v-card-text.pa-0
            v-data-table(:headers="oneClick.data.recognitionDataHeaders", :items='oneClick.data.recognitionData', hide-actions, disable-initial-sort)
                template(slot='items', slot-scope='props')
                    tr(@click="oneClick.changedCateogryFromResult(props.item);")
                        td {{oneClick.getCategoryStringFromResult(props.item.title)}}
                        td.text-xs-right {{props.item.accuracy}}%
        v-card-text.py-2
            .caption.grey--text * 항목 클릭 시 카테고리 변경
        v-card-actions.pt-0
            v-spacer
            v-btn(color='error', flat='flat', @click.native="oneClick.data.recognitionDialog = false") Ok

v-dialog.md6(v-model='oneClick.data.responseDialog', persistent, scrollable, max-width='500px')
    //v-layout( wrap, align-center='')
    //v-flex(xs12='', md6='')
    v-card
        v-card-title.headline(icon)
            v-icon.mr-2(color='success') check_circle
            | Successfully Registered
        v-divider.py-0.my-0
        v-card-media(:src="oneClick.data.imgSrc", height='250px')
        v-card-text
            | {{ oneClick.data.resSuccessMsg}}
            code.title {{oneClick.data.resSuccessCode}}
            //| Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
        v-divider.py-0.my-0
        v-card-actions
            v-btn(color='blue darken-4', flat, small, @click="oneClick.data.detailDialog = true") 추가 정보 입력
            v-spacer
            v-btn(color='error', flat, small, @click="oneClick.reset()") 닫기
            v-btn(color='green darken-1', flat, small, :href='oneClick.data.resSuccessRedirectHref') 확인하기

v-dialog(v-model='oneClick.data.responseErrorDialog', max-width='500px')
    v-card
        v-card-title.headline
            v-icon.mr-2(color='error') error
            | Registration Failure
        v-card-text
            | If you continue to fail, contact the administrator.
        v-card-actions
            v-spacer
            v-btn(color='error', flat='flat', @click.native="oneClick.data.responseErrorDialog = false") Ok

v-dialog(v-model='oneClick.data.detailDialog', flat, :fullscreen='$vuetify.breakpoint.xsOnly', max-width='600px', persistent, transition='dialog-bottom-transition', :overlay='true')
    v-card.white.elevation-10
        v-toolbar(dark='', color='deep-orange darken-3',  dense)
            v-btn(icon='',dark, @click="oneClick.data.detailDialog = false")
                v-icon close
            v-toolbar-title 추가 정보 입력
            v-spacer
            //v-toolbar-items
            //    v-btn(dark='', flat='', @click.native='dialog = false') Save
        v-layout.px-3.pt-3.bottom-safe-area-padding(row, wrap)

            v-flex(sm2, xs12)
                v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 이미지:
            v-flex.mb-5(sm10, xs12)
                //.dal-card(:style='$vuetify.breakpoint.xsOnly ? "overflow: hidden; width : 100%;" : "overflow: hidden; width : 50%;"')
                img.dal-image-card(:src="oneClick.data.imgSrc", :width='$vuetify.breakpoint.xsOnly ? "100%;" : "60%;"')


            v-flex(sm2, xs12)
                v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 브랜드:
            v-flex.pb-4(sm10, xs12)
                v-select(color="orange darken-2", label='브랜드명을 입력하세요.', chips='', tags='', clearable='', v-model='oneClick.data.brands')
                    template(slot='selection', slot-scope='data')
                        v-chip.elevation-2( close='', @input='removeLogo(data.item)', :selected='data.selected', color="orange darken-2", text-color="white")
                            strong.title.mr-1 #
                            strong {{ data.item }}
                .caption.grey--text.mt-2(v-if="oneClick.data.brands.length <= 0") 인식된 브랜드가 없습니다.


            v-flex(sm2, xs12)
                v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 해시 태그:
            v-flex(sm10, xs12)
                v-select(color="orange darken-2", label='태그를 입력하세요.', chips='', tags='', clearable='', v-model='oneClick.data.hashtags' )
                    template(slot='selection', slot-scope='data')
                        v-chip.elevation-2(close='', @input='removeHashtag(data.item)', :selected='data.selected', color="orange darken-2", text-color="white")
                            strong.title.mr-1 #
                            strong {{ data.item }}


            v-flex(sm2, xs12)
                v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 상세설명:
            v-flex.pb-4(sm10, xs12)
                v-text-field(color="orange darken-2", label='상세한 설명을 입력하세요.', v-model='oneClick.data.description', name='description', multi-line)


            v-flex(sm12, xs12)
                v-divider

            v-flex(sm12, xs12)
                v-card-actions.right
                    v-btn(color='error', flat, small, type='button', @click="oneClick.data.detailDialog = false") 취소
                    v-btn(color='info', flat, small, @click="oneClick.submitDetail()") 제출


v-dialog.md6(v-model='oneClick.data.submitDetailSuccessDialog', persistent, scrollable, max-width='500px')
    v-card
        v-card-title.headline(icon)
            v-icon.mr-2(color='success') check_circle
            | 성공
        v-card-text.subheading
            | 성공적으로 추가 정보를 등록하였습니다.
        v-card-actions
            v-spacer
            v-btn(color='error', flat, small, @click="oneClick.reset()") 닫기
            v-btn(color='green darken-1', flat, small, :href='oneClick.data.resSuccessRedirectHref') 확인하기

v-dialog(v-model='oneClick.data.requestErrorDialog', max-width='500px')
    v-card
        v-card-title.headline
            v-icon.mr-2(color='error') error
            | Request Failed
        v-card-text
            | 계속해서 요청에 실패할 경우 관리자에게 문의해주세요.
        v-card-actions
            v-spacer
            v-btn(color='error', flat='flat', @click.native="oneClick.data.requestErrorDialog = false") 확인