v-card.dal-card(flat='', tile='', hover, raised, :class="$vuetify.breakpoint.xsOnly ? 'mb-3' : 'ma-2' ", :href="'/items/'+item.id")

    v-card-media(:src="item.photos", height='300px')

    code.mx-3.elevation-0.mt-3(v-if="convertStatus(item.status).length > 0") {{convertStatus(item.status)}}
    v-card-title.title.mb-0.py-2.grey--text.text--darken-3 {{ "유실물 - " + item.id}}
    v-card-text.py-0.subheading.grey--text.text--lighten-1 {{ getCategoryStringFromResult(item.subcategory) }}

    v-card-text.py-3.grey--text.text--darken-2(v-if="item.description.length > 0") {{ reduceString(item.description, 100) }}
    v-card-text.py-0.text-xs-left.caption.grey--text.text--lighten-1 {{ vueMsToDateKo(item.dcv_date) }}
    v-card-text.py-0.text-xs-left(v-if="item.tags.length > 0 || item.recognition_tags.length > 0")
        span.caption.brown--text {{ hastTagsToString(item) }}
    v-card-actions
        v-spacer
        v-btn(flat, small, slot='activator', color='orange', dark) Share
        v-btn(flat,small, color='orange', :href="'/items/'+item.id") Detail