extends layout
block content

    include toolbar

    div(style='background-color: white; margin-top: 49px;')
        section()
            v-layout(wrap='', align-center='')
                v-flex(xs12='', sm3='', :style='$vuetify.breakpoint.xsOnly ? "" :  "height: 100vh;"')
                    v-list
                        v-subheader 채팅 목록
                        .caption.text-xs-center.py-2(v-if="chatManager.data.chat_lists === null || chatManager.data.chat_lists.length <= 0") 대화 상대가 없습니다.
                        //.caption.text-xs-center.py-2() 대화 상대가 없습니다.
                        v-list-tile(v-for='item in chatManager.data.chat_lists', :key='item.name', avatar='', @click='chatManager.chatSelect(item); chatManager.connect();', :class="item.roomport === chatManager.data.chat_clicked ? 'grey lighten-2' : ''")
                            v-list-tile-avatar
                                v-icon account_circle
                            v-list-tile-content
                                v-list-tile-title(v-text='item.name2')
                                //v-list-tile-title(v-text='item.unreadcount')
                            v-list-tile-action(v-if="item.unreadcount > 0")
                                v-btn.mr-2(icon, ripple, small, color="red darken-1", dark)
                                    | {{ item.unreadcount }}
                            //v-list-tile-action(v-if='item.roomport == chatManager.data.chat_clicked')
                            //    v-icon(color='teal') chat_bubble
                v-flex(xs12='', sm9='', :style='$vuetify.breakpoint.xsOnly ? "background-color: #f4f4f4;" : "height: 100vh; background-color: #f4f4f4;"')
                    v-layout(wrap='', v-if="chatManager.data.chat_clicked !== null")
                        // 채팅하고자 하는 사람
                        v-flex(xs12='', sm12='', mt-3='', px-3='')
                            template(v-for='item in chatManager.data.chat_lists')
                                v-list-tile(v-if='item.roomport == chatManager.data.chat_clicked', avatar='', ripple='', :key='item.roomport')
                                    v-list-tile-avatar
                                        v-icon account_circle
                                    v-list-tile-content
                                        v-list-tile-title {{item.name2}}
                        // 채팅창
                        v-flex(xs12='', sm12='', mt-0='')
                            v-container.pa-2.pb-4
                                v-card.scroll-y.elevation-2#scrollList(style='height: 90%;')
                                    v-layout(wrap='')
                                        v-flex(xs12='', sm12='', pr-4='', text-xs-right='', style='height: 71vh;')
                                            v-list#myList(subheader='', v-for='item in chatManager.data.chat_lists', :key='item.roomport', v-if='item.roomport == chatManager.data.chat_clicked')
                                                v-list-tile(avatar='', v-for='msg in item.msg', :key="msg.sendtime", v-if="msg.message !== null")
                                                    v-list-tile-content(v-if="msg.sender == chatManager.data.sender")
                                                        //v-chip(color='deep-orange darken-3', text-color='white') {{ msg.sentence + " " + msg.stamp }}
                                                    v-list-tile-content(v-else)
                                                        v-flex(d-inline-flex)
                                                            v-chip(text-color='black') {{ msg.message }}
                                                            v-flex.pb-1.text-xs-left(style="margin-top:auto;")
                                                                .dal-small-caption.orange--text(if="msg.chread === 1") 1
                                                                .dal-small-caption.grey--text {{ supporter.msToTime(msg.sendtime) }}
                                                    v-list-tile-action(v-if="msg.sender == chatManager.data.sender")
                                                        v-flex(d-inline-flex)
                                                            v-flex.pb-1.text-xs-right(style="margin-top:auto;")
                                                                .dal-small-caption.orange--text(if="msg.chread === 1") 1
                                                                .dal-small-caption.grey--text {{ supporter.msToTime(msg.sendtime) }}
                                                            v-chip(color='deep-orange darken-3', text-color='white') {{ msg.message }}
                                            //v-chip(v-if="chatManager.data.message !==''", color='deep-orange darken-3', text-color='white') {{ chatManager.data.message }}
                                v-card.elevation-2(style='margin-top: 0.5px; border-top: 1px solid #e7e7e7;')
                                    v-layout(wrap='')
                                        // 채팅 입력란
                                        v-flex(xs12='', sm12='', px-3='')
                                            // <textarea name="" v-model="message" placeholder="내용을 입력해주세요" style="width: 90%; height: 70%;"></textarea>
                                            //v-form(v-model='valid', ref='form', lazy-validation='', @submit="send()")
                                            v-layout(wrap='')
                                                v-flex(xs9='', sm11='')
                                                    v-text-field.transparent(flat='', solo='', label='내용을 입력해주세요.', v-model='chatManager.data.message', @keyup.enter='chatManager.send();')
                                                v-flex(xs3='', sm1='', style='padding-top: 2px;')
                                                    v-btn.success(round='', @click='chatManager.send()', style='min-width: 5%;') 전송

                    v-layout.text-xs-center.py-5(v-else)
                        v-card.dal-card.py-2.px-4(style="margin:auto;")
                            v-card-text(v-if="loginData.user === null") 로그인이 필요합니다.
                            v-card-text(v-else) 대화 상대를 선택해주세요.

                //include chat_pop_over
        include footer
        include bottom_tab


    script(type="text/javascript" src='/javascripts/chat-config.js')
    script.
        const vue = init('!{ChatData}');
