
v-dialog.md6(v-model='dalMessage.data.msgDialog',  scrollable, max-width='500px')
    v-card
        v-card-title.headline(v-if="dalMessage.data.selectedMsg !== null") {{dalMessage.data.selectedMsg.title}}
        v-card-text.subheading(v-if="dalMessage.data.selectedMsg !== null") {{dalMessage.data.selectedMsg.content}}
        v-card-text.subheading(v-else) 선택된 메시지가 없습니다.
        v-card-actions
            v-spacer
            v-btn(color='success', flat, @click="dalMessage.data.msgDialog = false; dalMessage.data.selectedMsg = null;") 확인
