extends layout
block content



    include toolbar

    div(:style="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly ? 'margin-top: 48px;' : 'margin-top: 48px;' ")
        v-app
            v-content.brown.lighten-5
                v-container.pa-0(:fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")

                    v-flex(md12='')
                        v-card.pa-3.safe-area-inset(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'elevation-0 mb-4 pt-4' : 'elevation-10 my-4'")

                            v-card-title.headline.pa-0 유실물 찾기

                            v-divider.my-3

                            v-card-title.rounded-expansion-panel.ma-1(:class="$vuetify.breakpoint.xsOnly ? 'pa-1' : '' ")
                                v-expansion-panel.elevation-0.ma-0(popout)
                                    v-expansion-panel-content.ma-0(:value="false")
                                        div(slot="header", class="subheading grey--text") 검색 조건
                                        v-container(v-bind='{ [`grid-list-lg`]: true }')
                                            v-layout(wrap)
                                                v-flex(xs12)
                                                    .title 1차 조건
                                                v-flex(xs12)
                                                    v-divider

                                                v-flex(sm2, xs12)
                                                    v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 카테고리:
                                                v-flex.pt-0(sm10, xs12)
                                                    v-flex(xs12, d-inline-flex)
                                                        v-breadcrumbs.pa-0.pr-2.dal-breadcrumbs(v-if="categoryManager.category != null")
                                                            v-icon(slot='divider') chevron_right
                                                            v-breadcrumbs-item(v-for='item in categoryManager.getCategoryBreadcrumbs()', :key='item')
                                                                | {{ item }}
                                                        v-btn(color='orange darken-2', dark, @click='categoryManager.categoryDialog = true') 카테고리 선택


                                                v-flex(sm2, xs12)
                                                    v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 습득일:
                                                v-flex(sm10, xs12)
                                                    //v-date-picker.elevation-10.mb-3.hidden-xs-only(v-model='date', :landscape='true', color="brown darken-1", name='date', full-width)
                                                        //v-date-picker.mt-3(full-width landscape v-model='picker', color="green lighten-1")
                                                    div(v-if='dcv_filter_item.isAllday')
                                                        v-dialog(ref='dcv_filter_item_alldayDialog', persistent, v-model='dcv_filter_item.alldayModal', lazy, full-width, width='400px', :return-value.sync='dcv_filter_item.alldayDate')
                                                            v-text-field(color="orange darken-2", slot='activator', label='습득일', v-model='dcv_filter_item.alldayDate', readonly)
                                                            v-date-picker(v-model='dcv_filter_item.alldayDate', scrollable, lazy, locale="ko-kr", full-width, width='400px', color="brown darken-1", name='dcv_filter_item.alldayDate')
                                                                v-spacer
                                                                v-btn(flat='', color='error', @click='dcv_filter_item.alldayDate = null') Clear
                                                                v-btn(flat='', color='primary', @click='dcv_filter_item.alldayModal = false') Cancel
                                                                v-btn(flat='', color='primary', @click='$refs.dcv_filter_item_alldayDialog.save(dcv_filter_item.alldayDate)') OK
                                                    div(v-else)
                                                        v-dialog(ref='dcv_filter_item_startDialog', persistent, v-model='dcv_filter_item.startModal', lazy, full-width, width='400px', :return-value.sync='dcv_filter_item.startDate')
                                                            v-text-field(color="orange darken-2", slot='activator', label='시작일', v-model='dcv_filter_item.startDate', readonly)
                                                            v-date-picker(v-model='dcv_filter_item.startDate', scrollable, lazy, locale="ko-kr", full-width, width='400px', color="brown darken-1", name='dcv_filter_item.startDate')
                                                                v-spacer
                                                                v-btn(flat='', color='error', @click='dcv_filter_item.startDate = null') Clear
                                                                v-btn(flat='', color='primary', @click='dcv_filter_item.startModal = false') Cancel
                                                                v-btn(flat='', color='primary', @click='$refs.dcv_filter_item_startDialog.save(dcv_filter_item.startDate)') OK
                                                        v-dialog(ref='dcv_filter_item_finishDialog', persistent, v-model='dcv_filter_item.finishModal', lazy, full-width, width='400px', :return-value.sync='dcv_filter_item.finishDate')
                                                            v-text-field(color="orange darken-2", slot='activator', label='종료일', v-model='dcv_filter_item.finishDate', readonly)
                                                            v-date-picker(v-model='dcv_filter_item.finishDate', scrollable, lazy, locale="ko-kr", full-width, width='400px', color="brown darken-1", name='dcv_filter_item.finishDate')
                                                                v-spacer
                                                                v-btn(flat='', color='error', @click='dcv_filter_item.finishDate = null') Clear
                                                                v-btn(flat='', color='primary', @click='dcv_filter_item.finishModal = false') Cancel
                                                                v-btn(flat='', color='primary', @click='$refs.dcv_filter_item_finishDialog.save(dcv_filter_item.finishDate)') OK
                                                    //v-flex(xs12)
                                                    v-btn.mb-2(flat, color='error', @click='dcv_filter_item.startDate = dcv_filter_item.finishDate = null', v-if='!dcv_filter_item.isAllday') Clear
                                                    v-switch(color='orange', label='All-day', hide-details, v-model='dcv_filter_item.isAllday')


                                                v-flex(sm2, xs12)
                                                    v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 등록일:
                                                v-flex(sm10, xs12)
                                                    div(v-if='rgt_filter_item.isAllday')
                                                        v-dialog(ref='rgt_filter_item_alldayDialog', persistent, v-model='rgt_filter_item.alldayModal', lazy, full-width, width='400px', :return-value.sync='rgt_filter_item.alldayDate')
                                                            v-text-field(color="orange darken-2", slot='activator', label='등록일', v-model='rgt_filter_item.alldayDate', readonly)
                                                            v-date-picker(v-model='rgt_filter_item.alldayDate', scrollable, lazy, locale="ko-kr", full-width, width='400px', color="brown darken-1", name='rgt_filter_item.alldayDate')
                                                                v-spacer
                                                                v-btn(flat='', color='error', @click='rgt_filter_item.alldayDate = null') Clear
                                                                v-btn(flat='', color='primary', @click='rgt_filter_item.alldayModal = false') Cancel
                                                                v-btn(flat='', color='primary', @click='$refs.rgt_filter_item_alldayDialog.save(rgt_filter_item.alldayDate)') OK
                                                    div(v-else)
                                                        v-dialog(ref='rgt_filter_item_startDialog', persistent, v-model='rgt_filter_item.startModal', lazy, full-width, width='400px', :return-value.sync='rgt_filter_item.startDate')
                                                            v-text-field(color="orange darken-2", slot='activator', label='시작일', v-model='rgt_filter_item.startDate', readonly)
                                                            v-date-picker(v-model='rgt_filter_item.startDate', scrollable, lazy, locale="ko-kr", full-width, width='400px', color="brown darken-1", name='rgt_filter_item.startDate')
                                                                v-spacer
                                                                v-btn(flat='', color='error', @click='rgt_filter_item.startDate = null') Clear
                                                                v-btn(flat='', color='primary', @click='rgt_filter_item.startModal = false') Cancel
                                                                v-btn(flat='', color='primary', @click='$refs.rgt_filter_item_startDialog.save(rgt_filter_item.startDate)') OK
                                                        v-dialog(ref='rgt_filter_item_finishDialog', persistent, v-model='rgt_filter_item.finishModal', lazy, full-width, width='400px', :return-value.sync='rgt_filter_item.finishDate')
                                                            v-text-field(color="orange darken-2", slot='activator', label='종료일', v-model='rgt_filter_item.finishDate', readonly)
                                                            v-date-picker(v-model='rgt_filter_item.finishDate', scrollable, lazy, locale="ko-kr", full-width, width='400px', color="brown darken-1", name='rgt_filter_item.finishDate')
                                                                v-spacer
                                                                v-btn(flat='', color='error', @click='rgt_filter_item.finishDate = null') Clear
                                                                v-btn(flat='', color='primary', @click='rgt_filter_item.finishModal = false') Cancel
                                                                v-btn(flat='', color='primary', @click='$refs.rgt_filter_item_finishDialog.save(rgt_filter_item.finishDate)') OK
                                                    //v-flex(xs12)
                                                    v-btn.mb-2(flat, color='error', @click='rgt_filter_item.startDate = rgt_filter_item.finishDate = null', v-if='!rgt_filter_item.isAllday') Clear
                                                    v-switch(color='orange', label='All-day', hide-details, v-model='rgt_filter_item.isAllday')


                                                v-flex(sm2, xs12)
                                                    v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 습득장소:
                                                v-flex.pt-0(sm10, xs12)
                                                    v-layout( wrap)
                                                        v-flex(xs5, md3)
                                                            v-select.xs3(color="orange darken-2", :items='buildings', v-model='selectedBuilding', label='건물 선택', auto, append-icon='account_balance', autocomplete)
                                                        v-flex.ml-2(xs4, md2)
                                                            v-select.xs3(color="orange darken-2", :items='rooms', v-model='selectedRoom', label='방 선택', auto, append-icon='room', autocomplete)
                                                    v-layout.ml-2.py-0(xs12, md1, v-show='!locationProgress', style='vertical-align: middle;')
                                                        v-btn.py-0(flat, color='error', small, @click="selectedBuilding=null; selectedRoom=null;") Clear



                                                v-flex(xs12)
                                                    .title 2차 조건
                                                v-flex(xs12)
                                                    v-divider


                                                v-flex(sm2, xs12)
                                                    v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : ''") 브랜드/태그:
                                                v-flex.pt-0(sm10, xs12)
                                                    v-select(color="orange darken-2", label='태그를 입력하세요.', chips='', tags='', clearable='', v-model='searchTags' )
                                                        template(slot='selection', slot-scope='data')
                                                            v-chip.elevation-2(close='', @input='removeHashtag(data.item)', :selected='data.selected', color="orange darken-2", text-color="white")
                                                                strong.title.mr-1 #
                                                                strong {{ data.item }}



                                                v-flex.mx-2(xs12)
                                                    v-divider

                                                v-layout(xs12, alilgn-right)
                                                    v-spacer
                                                    v-btn(flat, small, color='error', @click="resetFilterItem()") 초기화
                                                    v-btn(flat, small, color='orange darken-3', @click='search(true)') 검색



                            v-flex(xs12)
                                v-divider.mb-1.mt-3


                            v-flex.text-xs-center.pb-1.pt-5(xs12='', justify-center='', align-center='')
                                p.headline.deep-orange--text(style="font-weight: 500;") 유실물 목록
                                v-switch.dal-checkbox.ml-2(label="완료된 항목 보기", v-model="isShowComplete", color="orange darken-3")

                            //v-flex.mt-4(xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'px-4' ")
                            //    .headline.pa-0.mt4 유실물 목록
                            //    v-divider.mb-1.mt-3

                            vcard-title.pa-0(v-if="searchItems.length > 0")
                                v-container(v-bind='{ [`grid-list-lg`]: true }', :class="$vuetify.breakpoint.xsOnly ? 'pa-2 pt-4' : '' ")
                                    v-layout(wrap)
                                        v-flex(xs12, sm6, md6, lg4 v-for="item in searchItems", :key="item.id", v-model='searchItems', v-if="isShowComplete || item.status !== 'COM'")
                                            include card_item

                                        v-flex.text-xs-center.mt-4(xs12, v-if="!loadMoreData.isLoadFinish")
                                            v-progress-circular.py-0.my-0(:indeterminate="true", color='deep-orange darken-3', :size="50", v-show='loadMoreData.isLoadMore')
                                            v-btn(dark, color='deep-orange darken-3', v-if='loadMoreData.isBtnLoadMore', @click='loadMore()') Load More

                            v-card-text.text-xs-center.my-4.grey--text(v-else) 검색 결과가 없습니다.




        v-bottom-sheet(v-model='shareSheet', inset, max-width='500px')
            v-list
                v-subheader 공유하기
                v-list-tile(v-for='tile in shares', :key='tile', @click='shareTo(tile.title)')
                    v-list-tile-avatar
                        v-avatar(size='32px', tile='')
                            img(:src="'/images/' + tile.img")
                    v-list-tile-title {{ tile.title }}


        v-snackbar(timeout='2500', :top='!$vuetify.breakpoint.xsOnly', :bottom="$vuetify.breakpoint.xsOnly" right, v-model='searchSnackbar')
            | {{ searchItems.length }}개의 검색결과가 있습니다.
            v-btn(flat='', color='pink', @click.native='searchSnackbar = false') Close


        v-dialog(v-model='categoryManager.categoryDialog', max-width='500px')
            v-card
                v-card-title.headline 카테고리 선택
                v-divider
                v-card-text
                    v-layout(wrap)
                        v-layout.mr-1(xs6)
                            v-flex(xs12)
                                v-list(one-line)
                                    v-subheader Category 1
                                    template(v-for='(item, index) in Object.keys(categoryManager.categoryData)')
                                        v-list-tile(avatar, @click='categoryManager.changeSubCategories(item)', :key='item.name', :color="categoryManager.isSameCategoryData(categoryManager.category, categoryManager.categoryData[item]) ? 'orange darken-2' : '' ")
                                            v-list-tile-content
                                                v-list-tile-title(v-html='categoryManager.categoryData[item].ko', :class="categoryManager.isSameCategoryData(categoryManager.category, categoryManager.categoryData[item]) ? 'title' : '' ")
                                            v-list-tile-action
                                                v-icon(:color="categoryManager.isSameCategoryData(categoryManager.category, categoryManager.categoryData[item]) ? 'orange darken-2' : 'grey'") keyboard_arrow_right
                                        //v-divider(v-if='index + 1 < categories.length', :key='index')

                        v-layout.ml-1(xs6)
                            v-flex(xs12)
                                v-list(one-line)
                                    v-subheader Category 2
                                    template(v-for='(item, index) in categoryManager.subcategories')
                                        v-list-tile(avatar, @click='categoryManager.subcategory = item; categoryManager.categoryDialog=false; search(true)', :key='item.name', :color="categoryManager.isSameCategoryData(categoryManager.subcategory, item) ? 'orange darken-2' : '' ")
                                            v-list-tile-content
                                                v-list-tile-title(v-html='item.ko', :class="categoryManager.isSameCategoryData(categoryManager.subcategory, item) ? 'title' : '' ")
                v-divider
                v-card-actions
                    v-spacer
                    v-btn(color='error', flat='flat', @click.native="categoryManager.categoryDialog = false; search(true)") Ok

        include footer

        include bottom_tab

    //script(src='http://app.moptym.com/cdn/vue-waterfall/vue-waterfall.min.js')
    script(type="text/javascript" src='/javascripts/find-config.js')
    script.
        const vue = init('!{category}');
