extends layout
block content



    include toolbar

    div(style="margin-top: 48px;")
        v-app
            v-content.brown.lighten-5
                v-container.pa-0(:fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")

                    v-flex(md12='')
                        v-card.pa-3(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'elevation-0 mb-4 pt-4' : 'elevation-10 my-4'")

                            v-card-title.headline.pa-0 유실물 찾기

                            v-divider.my-3

                            v-card-title.rounded-expansion-panel.ma-1
                                v-expansion-panel.elevation-0.ma-0(popout)
                                    v-expansion-panel-content.ma-0(:value="true")
                                        div(slot="header", class="subheading grey--text") 검색 조건
                                        v-container(v-bind='{ [`grid-list-lg`]: true }')
                                            v-layout(wrap)
                                                v-flex(xs12)
                                                    .title 1차 조건
                                                v-flex(xs12)
                                                    v-divider



                            v-flex(xs12)
                                v-divider.mb-1.mt-3


                            v-flex.mt-4(xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'px-4' ")
                                .headline.pa-0.mt4 유실물 목록
                                v-divider.mb-1.mt-3

                            vcard-title.pa-0(v-if="searchItems.length > 0")
                                v-container(v-bind='{ [`grid-list-lg`]: true }', :class="$vuetify.breakpoint.xsOnly ? 'pa-2 pt-4' : '' ")
                                    v-layout(wrap)
                                        v-flex(xs12, sm6, md6, lg4 v-for="item in searchItems", :key="item.id", v-model='searchItems')
                                            include card_item
                                            //v-card.dal-card(flat='', tile='', hover, raised, :class="$vuetify.breakpoint.xsOnly ? 'mb-3' : 'ma-2' ", :href="'/items/'+item.id")
                                            //
                                            //    v-card-media(:src="item.photos", height='250px')
                                            //
                                            //    code.mx-3.elevation-0.mt-3(v-if="convertStatus(item.status).length > 0") {{convertStatus(item.status)}}
                                            //    v-card-title.title.mb-0.py-2.grey--text.text--darken-3 {{ "유실물 - " + item.id}}
                                            //    v-card-text.py-0.subheading.grey--text.text--lighten-1 {{ getCategoryStringFromResult(item.subcategory) }}
                                            //
                                            //    v-card-text.py-3.grey--text.text--darken-2(v-if="item.description.length > 0") {{ item.description }}
                                            //    v-card-text.py-0.text-xs-left.caption.grey--text.text--lighten-1 {{ vueMsToDateKo(item.dcv_date) }}
                                            //    v-card-text.py-0.text-xs-left(v-if="item.tags.length > 0 || item.recognition_tags.length > 0")
                                            //        span.caption.brown--text {{ hastTagsToString(item) }}
                                            //    v-card-actions
                                            //        v-spacer
                                            //        v-btn(flat, small, slot='activator', color='orange', dark) Share
                                            //        v-btn(flat,small, color='orange', :href="'/items/'+item.id") Detail




        include footer

    script(src='http://app.moptym.com/cdn/vue-waterfall/vue-waterfall.min.js')
    script(type="text/javascript" src='/javascripts/find-config.js')
    script.
        const vue = init('!{category}');
