v-footer.grey.darken-3(dark, height='auto')
    v-layout(row, justify-center)
        v-card(style='padding: 20px;')
            v-layout.text-xs-center(row, justify-center)
                v-flex(xs11, sm10, md8)
                    v-card-text.white--text.py-4
                        | Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet. Mauris cursus commodo interdum. Praesent ut risus eget metus luctus accumsan id ultrices nunc. Sed at orci sed massa consectetur dignissim a sit amet dui.
                    v-card-text.white--text
                        | © 2018&nbsp;
                        strong
                            a(style='color: white;', href='https://denl.xyz') DenL.xyz
