extends layout
block content

    include toolbar

    div(style='margin-top:48px')

        section
            v-parallax.px-0(src='https://vuetifyjs.com/static/doc-images/carousel/planet.jpg', height='600', jumbotron)
                v-layout(column='', align-center='', justify-center='')
                    img(src='images/logo/logo_color.svg', height='150')
                    h1.mt-4.mb-2.display-1.text-xs-center Discovery and Lost
                    .subheading.mb-3.text-xs-center Powered by _beat


        section
            v-layout(column='', align-center='', justify-center='')
                | index

    //include menu_fab

    include footer

    script.
        const vue = new Vue({
            el: '#app',
            data: {
                title: 'D&L',
                scrollData: {
                    fab: false,
                    offsetTop: 0,
                    scrollT: 0,
                    delta: 200,
                    isShowFabTop: true,
                    transition: 'slide-y-reverse-transition'
                },
                loginData:{

                }

            },
            method:{
                loginSejong: function(){
                    var id = document.getElementsByName('loginId');
                    var pw = document.getElementsByName('loginPw');
                    loginSejong(id, pw);
                }
            },
            mounted:[
                // function(){
                //     $(window).scroll(
                //         function (event) {
                //
                //             var scroll = $(window).scrollTop();
                //
                //             vue.scrollData.scrollT += (scroll-vue.scrollData.offsetTop);
                //
                //             if(vue.scrollData.scrollT > vue.scrollData.delta){
                //                 vue.scrollData.isShowFabTop = true;
                //                 vue.scrollData.scrollT = 0;
                //             }else if (vue.scrollData.scrollT < -vue.scrollData.delta) {
                //                 vue.scrollData.isShowFabTop = false;
                //                 vue.scrollData.scrollT = 0;
                //             }
                //
                //             vue.scrollData.offsetTop = scroll;
                //
                //             if(scroll === 0){
                //                 vue.scrollData.isShowFabTop = false;
                //                 vue.scrollData.scrollT = 0;
                //                 vue.scrollData.offsetTop = 0;
                //             }
                //
                //         }
                //     );
                // }
            ]
        })



