extends layout
block content

    include toolbar

    div(style="margin-top: 48px;")
        v-app
            v-content.brown.lighten-5
                v-container.pa-0(:fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")

                    v-flex(md12='')



                        if data == null

                            v-card.dal-card.pa-3(hover, raised, :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'mb-4 pt-4 ma-3' : 'my-4'")
                                //v-flex.xs12(align-center)
                                //    .display-4.pa-0.mx-3 Oooops!
                                v-card-title
                                    .display-3(style="margin: auto;") Oooops!
                                v-card-title
                                    .headline(style="margin: auto;") 페이지가 존재하지 않습니다.
                                v-card-text.text-xs-center
                                    //v-layout.text-xs-center(xs12, justify-center)
                                    v-btn(flat, color="orange darken-1", href="/") Home
                                    v-btn(flat, color="orange darken-1", href="/find") 찾기
                                    v-btn(flat, color="orange darken-1", href="/lost") 등록
                                        //v-btn.grey--text(icon, href="https://instagram.com")
                                        //    v-icon(size="30px") fa-instagram
                                        //v-btn.grey--text(icon, href="https://github.com/pooi/DiscoveryAndLost_Web")
                                        //    v-icon(size="30px") fa-github


                        else

                            v-card.pt-3.safe-area-inset(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'elevation-0 mb-4 pt-4' : 'elevation-10 my-4'", :dark="itemData.status === 'COM'")


                                code.mb-2.mx-3(v-if="supporter.convertStatus(itemData.status).length > 0") {{supporter.convertStatus(itemData.status)}}
                                .headline.pa-0.mx-3 유실물 상세보기

                                v-flex.my-3.mx-3(xs12)
                                    v-divider

                                v-flex.px-4.pb-3(xs12)
                                    v-btn(block, color="deep-orange darken-3", dark, v-if="supporter.isAdmin() && itemData.status === 'WFA' ", @click="supporter.acceptItem(itemData)") 수거완료

                                v-layout.px-3.pb-2(row, wrap)
                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") 이미지:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        //.dal-card(:style='$vuetify.breakpoint.xsOnly ? "overflow: hidden; width : 100%;" : "overflow: hidden; width : 50%;"')
                                        img.dal-image-card(:src="itemData.photos", :width='$vuetify.breakpoint.xsOnly ? "100%;" : "60%;"')

                                        //v-card.dal-card(:style='$vuetify.breakpoint.xsOnly ? "width : 100%;" : "width : 60%;"', hover, raised)
                                        //    img(src= image, width="100%")


                                    //v-flex.px-4(xs12)
                                    //    v-divider.mb-4


                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") ID:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        v-subheader.pa-0(:class="itemData.status === 'COM' ? '' : 'black--text' ") {{ itemData.id }}


                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") 카테고리:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        v-subheader.pa-0
                                            v-breadcrumbs.pa-0.pr-2.dal-breadcrumbs
                                                v-icon(slot='divider') chevron_right
                                                v-breadcrumbs-item(v-for='item in categoryManager.getCategoryBreadcrumbs2(itemData)', :key='item')
                                                    | {{ item }}

                                        v-flex.rounded-expansion-panel(sm8, xs12)
                                            v-expansion-panel.elevation-0(v-if='itemData.recognition_result != null', popout)
                                                v-expansion-panel-content
                                                    div.pl-0.grey--text(slot='header') 이미지 인식 결과 보기
                                                    v-data-table(:headers="recognitionDataHeaders", :items='itemData.recognition_result', hide-actions, disable-initial-sort)
                                                        template(slot='items', slot-scope='props')
                                                            tr
                                                                td {{categoryManager.getCategoryStringFromResult(props.item.title)}}
                                                                td.text-xs-right {{props.item.accuracy}}%



                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") 브랜드:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        div(v-if="itemData.brand.length > 0")
                                            v-chip.elevation-2(v-for='brand in itemData.brand', color='orange darken-2', text-color='white')
                                                strong.title.mr-1 #
                                                strong {{ brand }}
                                        v-subheader.pa-0(v-else)
                                            .caption.grey--text 입력된 브랜드가 없습니다.



                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") 해시 태그:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        div(v-if="getHastTags().length > 0")
                                            v-chip.elevation-2(v-for='tag in getHastTags()', color='orange darken-2', text-color='white')
                                                strong.title.mr-1 #
                                                strong {{ tag }}
                                        v-subheader.pa-0(v-else)
                                            .caption.grey--text 입력된 태그가 없습니다.


                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") 상세설명:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        div(v-if="itemData.description.length > 0")
                                            .pa-0.mt-2.pt-1(:class="itemData.status === 'COM' ? '' : 'black--text' ") {{ itemData.description }}
                                        v-subheader.pa-0(v-else)
                                            .caption.grey--text 입력된 정보가 없습니다.


                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") 색상:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        v-flex.mt-2(v-for='color in itemData.color', d-inline-flex)
                                            v-card.mb-3.mr-3.elevation-4.dal-small-card-scale(hover, raised, width="80", height="40", :style="'background-color: rgba(' + color.red + ',' + color.green + ',' + color.blue + ',1);'")


                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") 습득장소:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        v-subheader.pa-0
                                            v-breadcrumbs.pa-0.pr-2.dal-breadcrumbs
                                                v-icon(slot='divider') chevron_right
                                                v-breadcrumbs-item(v-for='item in [itemData.building, itemData.room]', :key='item')
                                                    | {{ item }}


                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") 습득일:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        //v-date-picker.elevation-2.mb-3.mt-2.hidden-xs-only(:value='vueMsToDate(itemData.dcv_date)', :landscape='true', color="brown darken-1", name='date', readonly, show-current="false")
                                        //.body-1(:class="$vuetify.breakpoint.xsOnly ? '' : 'mt-3' ") {{ vueMsToDateKo(itemData.dcv_date) }}
                                        v-subheader.pa-0(:class="itemData.status === 'COM' ? '' : 'black--text' ") {{ supporter.msToDateKo(itemData.dcv_date) }}



                                    v-flex(xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'px-4'")
                                        v-divider.mb-4


                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") 등록정보:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        v-flex(xs12, sm8, md6)
                                            v-card.dal-card(hover, raised)
                                                v-flex(d-inline-flex, xs12)
                                                    v-flex(xs5)
                                                        img.pa-3(src="/images/profile.png", width="100%")
                                                    v-flex.pl-0.pr-2.pt-2.pb-2(xs7, align-content-center, d-inline-flex)
                                                        div(style="margin:auto;")
                                                            .title.pa-0(:class="itemData.status === 'COM' ? '' : 'black--text' ") {{ supporter.msToDateKo(itemData.rgt_date) }}
                                                            .subheading.pa-0.pt-2.grey--text {{ itemData.rgt_user.name }}
                                                            .subheading.pa-0.pt-1.grey--text {{ itemData.rgt_user.studentID }}
                                                v-layout
                                                    v-btn.elevation-0.my-0(v-if="itemData.status === 'P2P' && (loginData.user === null || loginData.user.id !== itemData.rgt_user.id)", block, dark, small, color='cyan darken-1', style="border-radius: 0px 0px 20px 20px;", @click="contactUser(itemData.rgt_user.id)") 연락하기



                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") 요청정보:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        v-flex(xs12, sm8, md6, v-if="requestList !== null && requestList.length > 0")
                                            v-card.dal-card.mb-3(hover, raised, v-for='req in requestList', :key='req')
                                                v-flex(d-inline-flex, xs12)
                                                    v-flex(xs5)
                                                        img.pa-3(src="/images/profile.png", width="100%")
                                                    v-flex.pl-0.pr-2.pt-2.pb-2(xs7, align-content-center, d-inline-flex)
                                                        div(style="margin:auto;")
                                                            .title.pa-0(:class="itemData.status === 'COM' ? '' : 'black--text' ") {{ supporter.msToDateKo(req.rgt_date) }}
                                                            .subheading.pa-0.pt-2.grey--text {{ req.user.name }}
                                                            .subheading.pa-0.pt-1.grey--text {{ req.user.studentID }}
                                                v-layout
                                                    v-btn.elevation-0.my-0(v-if="loginData.user !== null && loginData.user.id === req.user.id", block, small, color='error', style="border-radius: 0px 0px 0px 20px;", @click="removeRequest(req.id)") 요청취소
                                                    v-btn.elevation-0.my-0(v-if="loginData.user !== null && loginData.user.id === req.user.id", block, small, dark, color='cyan darken-1', style="border-radius: 0px 0px 20px 0px;", @click="showRgtEmailDialog(req);")
                                                        span(v-if='req.email === null') 메일등록
                                                        span(v-else) 메일수정

                                        v-subheader.pa-0(v-else)
                                            .caption.grey--text 요청자가 없습니다.


                                    v-flex(sm2, xs12)
                                        v-subheader(:class="$vuetify.breakpoint.xsOnly ? 'pa-0' : 'right'") 수령정보:
                                    v-flex.mb-4(sm10, xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'pl-4'")
                                        v-flex(xs12, sm8, md6, v-if="itemData.rcv_user !== null")
                                            v-card.dal-card(hover, raised)
                                                v-flex(d-inline-flex, xs12)
                                                    v-flex(xs5)
                                                        img.pa-3(src="/images/profile.png", width="100%")
                                                    v-flex.pl-0.pr-2.pt-2.pb-2(xs7, align-content-center, d-inline-flex)
                                                        div(style="margin:auto;")
                                                            code.mb-2.elevation-0(v-if="itemData.status === 'WFR'") 수령대기
                                                            code.mb-2.elevation-0(v-else-if="itemData.status === 'COM'") 수령완료
                                                            .title.pa-0(:class="itemData.status === 'COM' ? '' : 'black--text' ") {{ supporter.msToDateKo(itemData.rcv_date) }}
                                                            .subheading.pa-0.pt-2.grey--text {{ itemData.rcv_user.name }}
                                                            .subheading.pa-0.pt-1.grey--text {{ itemData.rcv_user.studentID }}
                                                v-layout(v-if="supporter.isAdmin() && itemData.status === 'WFR'")
                                                    v-btn.elevation-0.my-0(block, small, color='error', style="border-radius: 0px 0px 0px 20px;", @click="cancelRequestReceive()") 요청취소
                                                    v-btn.elevation-0.my-0(block, small, dark, color='cyan darken-1', style="border-radius: 0px 0px 20px 0px;", @click="confirmReceive()") 수령확인


                                        v-subheader.pa-0(v-else)
                                            .caption.grey--text 수령자가 없습니다.

                                    //v-btn(@click="requestSuccessDialog = true") test

                                v-layout(xs12)
                                    v-btn.elevation-0.my-0(block, color="blue darken-2", style="border-radius: 0px;", dark, @click="shareSheet=true") 공유하기
                                    v-btn.elevation-0.my-0(v-if="itemData.status === 'P2P' && loginData.user !== null && loginData.user.id === itemData.rgt_user.id", block, color="error", style="border-radius: 0px;", dark, @click="changeStatusDialog=true") 전달방식변경
                                    v-btn.elevation-0.my-0(block, color="red darken-2", style="border-radius: 0px;", dark, @click="selectedRequest = null; requestReceiveDialog=true", v-if='supporter.isAdmin() && requestList.length > 0 && itemData.status !== "WFR" && itemData.status !== "COM"') 수령승인

                                    v-btn.elevation-0.my-0(v-if="itemData.rcv_user === null && !isAlreadyRequest() && !isMyRequest() && itemData.status === 'P2P' ", block, color="cyan darken-1", style="border-radius: 0px;", dark, @click="contactUser(itemData.rgt_user.id)") 연락하기
                                    v-btn.elevation-0.my-0(v-if="itemData.rcv_user === null && !isAlreadyRequest() && !isMyRequest() && itemData.status !== 'P2P'", block, color="orange darken-2", style="border-radius: 0px;", dark, @click="requestCheckDialog = true") 요청하기



        v-bottom-sheet(v-model='shareSheet', inset, max-width='500px')
            v-list
                v-subheader 공유하기
                v-list-tile(v-for='tile in shares', :key='tile', @click='shareTo(tile.title)')
                    v-list-tile-avatar
                        v-avatar(size='32px', tile='')
                            img(:src="'/images/' + tile.img")
                    v-list-tile-title {{ tile.title }}

        v-dialog.md6(v-model='requestCheckDialog',  scrollable, max-width='500px')
            v-card
                v-card-title.headline(icon)
                    v-icon.mr-2(color='warning') info_outline
                    | 확인
                v-card-text
                    | 유실물 수령을 요청하시겠습니까?
                v-card-actions
                    v-spacer
                    v-btn(color='error', flat, @click.native="requestCheckDialog = false") 취소
                    v-btn(color='success', flat, @click.native="requestCheckDialog = false; sendRequest()") 확인

        v-dialog.md6(v-model='requestSuccessDialog',  scrollable, max-width='500px')
            v-card
                v-card-title.headline(icon)
                    v-icon.mr-2(color='success') check_circle
                    | 요청 성공
                v-card-text.subheading
                    | 성공적으로 수령 요청하였습니다.
                v-card.dal-card.ma-3
                    v-card-text.pb-0
                        .pb-2.caption 이메일을 통해 진행 상황을 안내 받으시겠습니까?
                        v-text-field(label='이메일', placeholder='Please input email', :rules="emailRules", v-model='requestEmail', persistent-hint, ref='requestEmail')
                    v-card-actions
                        v-spacer
                        //v-btn(color='success', flat, @click.native="requestSuccessDialog = false") 닫기
                        v-btn(color='deep-orange darken-3', flat, @click.native="rgtRequestEmail()") 등록
                v-card-actions
                    v-spacer
                    v-btn(color='success', flat, @click.native="requestSuccessDialog = false") 닫기

        v-dialog.md6(v-model='rgtEmailDialog',  scrollable, max-width='500px')
            v-card
                v-card-title.headline(icon)
                    v-icon.mr-2(color='success') info_outline
                    | 이메일 등록
                v-card-text.pb-0
                    .pb-2 이메일을 통해 진행 상황을 안내 받으시겠습니까?
                    v-text-field(label='이메일', placeholder='Please input email', :rules="emailRules", v-model='requestEmail', persistent-hint, ref='requestEmail')
                v-card-actions
                    v-spacer
                    //v-btn(color='success', flat, @click.native="requestSuccessDialog = false") 닫기
                    v-btn(color='success', flat, @click.native="rgtEmailDialog = false") 닫기
                    v-btn(color='deep-orange darken-3', flat, @click.native="rgtRequestEmail()") 등록


        v-dialog.md6(v-model='rgtEmailSuccessDialog',  scrollable, max-width='500px')
            v-card
                v-card-title.headline(icon)
                    v-icon.mr-2(color='success') check_circle
                    | 성공
                v-card-text.subheading
                    | 성공적으로 이메일을 등록하였습니다.
                v-card-actions
                    v-spacer
                    v-btn(color='success', flat, @click.native="rgtEmailSuccessDialog = false") 확인

        v-dialog(v-model='requestErrorDialog', max-width='500px')
            v-card
                v-card-title.headline
                    v-icon.mr-2(color='error') error
                    | Request Failed
                v-card-text
                    | 계속해서 요청에 실패할 경우 관리자에게 문의해주세요.
                v-card-actions
                    v-spacer
                    v-btn(color='error', flat='flat', @click.native="requestErrorDialog = false") 확인

        v-dialog.md6(v-model='requestCancelCheckDialog',  scrollable, max-width='500px')
            v-card
                v-card-title.headline(icon)
                    v-icon.mr-2(color='warning') info_outline
                    | 확인
                v-card-text
                    | 유실물 수령 요청을 취소하시겠습니까?
                v-card-actions
                    v-spacer
                    v-btn(color='error', flat, @click.native="requestCancelCheckDialog = false") 취소
                    v-btn(color='success', flat, @click.native="requestCancelCheckDialog = false;") 확인

        v-dialog.md6(v-model='requestCancelDialog',  scrollable, max-width='500px')
            v-card
                v-card-title.headline(icon)
                    v-icon.mr-2(color='success') check_circle
                    | 성공
                v-card-text
                    | 성공적으로 취소하였습니다.
                v-card-actions
                    v-spacer
                    v-btn(color='success', flat, @click.native="requestCancelDialog = false") 확인

        v-dialog(v-model='requestCancelErrorDialog', max-width='500px')
            v-card
                v-card-title.headline
                    v-icon.mr-2(color='error') error
                    | 실패
                v-card-text
                    | 계속해서 요청 취소에 실패할 경우 관리자에게 문의해주세요.
                v-card-actions
                    v-spacer
                    v-btn(color='error', flat='flat', @click.native="requestCancelErrorDialog = false") 확인

        v-dialog(v-model='loginErrorDialog', max-width='500px')
            v-card
                v-card-title.headline
                    v-icon.mr-2(color='error') error
                    | 로그인 필요
                v-card-text
                    | 유실물 수령 요청을 위해 로그인이 필요합니다.
                v-card-actions
                    v-spacer
                    v-btn(color='error', flat='flat', @click.native="loginErrorDialog = false; loginData.dialog = true") 확인

        v-dialog(v-model='requestReceiveDialog', :fullscreen='$vuetify.breakpoint.xsOnly', max-width='600px', transition='dialog-bottom-transition', :overlay='true')
            v-card.brown.lighten-5.elevation-10
                v-toolbar(dark='', color='deep-orange darken-3',  dense)
                    v-btn(icon='', @click.native='requestReceiveDialog = false', dark)
                        v-icon close
                    v-toolbar-title 수령 확인 메시지 보내기
                    v-spacer
                    //v-toolbar-items
                    //    v-btn(dark='', flat='', @click.native='dialog = false') Save
                v-layout.white(row, wrap)
                    v-card-text.text-xs-center
                        | 수령 요청을 보낼 사람을 선택해주세요.
                    v-layout(xs12, align-center, justify-center)
                        v-flex.pa-3(xs12, sm10, v-if="requestList !== null && requestList.length > 0")
                            v-flex(v-for='req in requestList', :key='req',)
                                v-card.dal-card.mb-3(hover, raised, :color="(selectedRequest !== null && req.id === selectedRequest.id) ? 'teal darken-4' : '' ", :dark="selectedRequest !== null && req.id === selectedRequest.id")
                                    v-flex(d-inline-flex, xs12)
                                        v-flex(xs5)
                                            img.pa-3(src="/images/profile.png", width="100%")
                                        v-flex.pl-0.pr-2.pt-2.pb-2(xs7, align-content-center, d-inline-flex)
                                            div(style="margin:auto;")
                                                .title.pa-0 {{ supporter.msToDateKo(req.rgt_date) }}
                                                .subheading.pa-0.pt-2.grey--text {{ req.user.name }}
                                                .subheading.pa-0.pt-1.grey--text {{ req.user.studentID }}
                                    v-layout
                                        v-btn.elevation-0.my-0(v-if="selectedRequest !== null && req.id === selectedRequest.id", block, small, color='error', style="border-radius: 0px 0px 20px 20px;", @click="selectedRequest = null") 선택취소
                                        v-btn.elevation-0.my-0(v-else, block, small, dark, color='teal darken-4', style="border-radius: 0px 0px 20px 20px;", @click="selectedRequest = req") 선택

                        v-subheader.pa-0(v-else)
                            .caption.grey--text 요청자가 없습니다.

                    v-flex(xs12)
                        v-divider
                    v-layout(xs12, align-right)
                        v-spacer
                        v-btn(color='error', flat, @click="requestReceiveDialog = false") 취소
                        v-btn(color='success', flat, :disabled="selectedRequest === null", @click="requestReceive()") 확인

        v-dialog.md6(v-model='requestReceiveSuccessDialog', persistent, scrollable, max-width='500px')
            v-card
                v-card-title.headline(icon)
                    v-icon.mr-2(color='success') check_circle
                    | 성공
                v-card-text.subheading
                    | 성공적으로 수령 요청을 보냈습니다.
                v-card-actions
                    v-spacer
                    v-btn(color='success', flat, @click="reloadPage()") 확인

        v-dialog.md6(v-model='requestReceiveCancelSuccessDialog', persistent, scrollable, max-width='500px')
            v-card
                v-card-title.headline(icon)
                    v-icon.mr-2(color='success') check_circle
                    | 성공
                v-card-text.subheading
                    | 성공적으로 수령 요청을 취소했습니다.
                v-card-actions
                    v-spacer
                    v-btn(color='success', flat, @click="reloadPage()") 확인

        v-dialog.md6(v-model='confirmReceiveSuccessDialog', persistent, scrollable, max-width='500px')
            v-card
                v-card-title.headline(icon)
                    v-icon.mr-2(color='success') check_circle
                    | 성공
                v-card-text.subheading
                    | 성공적으로 수령 확인하였습니다.
                v-card-actions
                    v-spacer
                    v-btn(color='success', flat, @click="reloadPage()") 확인


        v-dialog.md6(v-model='changeStatusDialog',  scrollable, max-width='500px')
            v-card
                v-card-title.headline(icon)
                    v-icon.mr-2(color='error') error
                    | 전달 방식 변경
                v-card-text
                    | 개인 전달에서 관리자 소관으로 변경하시겠습니까?
                    br
                    | 이 작업은 되돌릴 수 없습니다.
                v-card-actions
                    v-spacer
                    v-btn(color='success', flat, @click.native="changeStatusDialog = false") 취소
                    v-btn(color='error', flat, @click="changeP2PtoWFA()") 변경


        v-dialog.md6(v-model='successStatusChangeDialog', persistent, scrollable, max-width='500px')
            v-card
                v-card-title.headline(icon)
                    v-icon.mr-2(color='success') check_circle
                    | 성공
                v-card-text.subheading
                    | 성공적으로 전달방식을 변경하였습니다.
                v-card-actions
                    v-spacer
                    v-btn(color='success', flat, @click="reloadPage()") 확인

        // confirmReceiveSuccessDialog

        //v-dialog.md6(v-model='requestReceiveDialog', scrollable, max-width='500px')
        //    v-card
        //        v-card-title.headline(icon)
        //            v-icon.mr-2(color='warning') info_outline
        //            | 확인
        //        v-card-text
        //            | 유실물 수령을 승인하시겠습니까?
        //        v-card-actions
        //            v-spacer
        //            v-btn(color='error', flat, @click="requestReceiveDialog = false") 취소
        //            v-btn(color='success', flat, @click="requestReceiveDialog = false;") 확인

        include footer
        include bottom_tab


    script(type="text/javascript" src='/javascripts/items-config.js')
    script.
        const vue = init('!{data}', '!{category}');
