v-flex(xs12, container, fill-height, :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ?  '' : ''")
    v-container(fluid, grid-list-md, style="overflow:visible")
        v-layout(wrap, style="overflow:visible")
            v-flex.text-xs-center.pb-1(xs12, justify-center, align-center)
                p(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ?  'headline deep-orange--text text--darken-3 mb-0' : 'deep-orange--text text--darken-3 mb-0'", style='font-weight: bold; font-size: 230%;') WFA 수거하지 않은 품목
                span(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ?  'body-2' : 'subheading'")

            v-flex.pt-3.mt-3(xs12, container, style="overflow:visible", :class="$vuetify.breakpoint.xsOnly ? '' : 'mx-3' ", v-if="WFAs.length > 0")
                v-carousel.elevation-0.jumbotron-overlay(hide-delimiters, style="overflow:visible", dark)
                    v-carousel-item.elevation-0(v-for='(array,i) in splitArray(WFAs)', :key='i', style="overflow:visible")
                        v-layout
                            //v-flex(d-inline-flex)
                            v-flex(v-for="(item, index) in array", :key='index', xs12, sm6, md4, lg3)
                                include index_card_item

v-flex(xs12, container, fill-height, :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ?  '' : ''")
    v-container(fluid, grid-list-md, style="overflow:visible")
        v-layout(wrap, style="overflow:visible")
            v-flex.text-xs-center.pb-1(xs12, justify-center, align-center)
                p(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ?  'headline deep-orange--text text--darken-3 mb-0' : 'deep-orange--text text--darken-3 mb-0'", style='font-weight: bold; font-size: 230%;') WFRQ 장기간 미수령 품목
                span(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ?  'body-2' : 'subheading'")

            v-flex.pt-3.mt-3(xs12, container, style="overflow:visible", :class="$vuetify.breakpoint.xsOnly ? '' : 'mx-3' ", v-if="WFRQs.length > 0")
                v-carousel.elevation-0.jumbotron-overlay(hide-delimiters, style="overflow:visible", dark)
                    v-carousel-item.elevation-0(v-for='(array,i) in splitArray(WFRQs)', :key='i', style="overflow:visible")
                        v-layout
                            //v-flex(d-inline-flex)
                            v-flex(v-for="(item, index) in array", :key='index', xs12, sm6, md4, lg3)
                                include index_card_item