extends layout
block content

    include toolbar

    div(style="margin-top: 48px;")
        v-app
            v-content.brown.lighten-5
                v-container.pa-0(:fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")
                    v-flex(md12='')
                        v-card.pa-3(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'elevation-0 mb-4 pt-4' : 'elevation-10 my-4'")

                            v-card-title.headline.pa-0 유실물 관리

                            v-divider.my-3

                            v-toolbar
                                v-spacer
                                v-toolbar-items
                                    v-btn(flat="", href="/manage") Home
                                    v-btn(flat="") Lost
                                    v-btn(flat="") Statistic

                    v-flex.mt-4(xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'px-4' ")
                        .headline.pa-0.mt4 수거하지 않은 물품
                        v-divider.mb-1.mt-3

                    vcard-title.pa-0
                        v-container(v-bind='{ [`grid-list-lg`]: true }', :class="$vuetify.breakpoint.xsOnly ? 'pa-2 pt-4' : '' ")
                            v-layout(wrap)
                                v-flex(xs12, sm6, md6, lg4 v-for="item in WFAs", :key="item.id", v-model='WFAs')
                                    include card_item

                    v-flex.mt-4(xs12, :class="$vuetify.breakpoint.xsOnly ? '' : 'px-4' ")
                        .headline.pa-0.mt4 요청이 들어온 물품
                        v-divider.mb-1.mt-3

                    vcard-title.pa-0
                        v-container(v-bind='{ [`grid-list-lg`]: true }', :class="$vuetify.breakpoint.xsOnly ? 'pa-2 pt-4' : '' ")
                            v-layout(wrap)
                                v-flex(xs12, sm6, md6, lg4 v-for="item in WFRQs", :key="item.id", v-model='WFRQs')
                                    include card_item




        include footer


    script(type="text/javascript" src='/javascripts/manage-config.js')
    script.
        const vue = init('!{WFA}','!{WFRQ}','!{category}');
