
v-layout(wrap='')
    v-flex.elevation-0(xs12='', flat='')
        // tab 안에 있는 카드 내용 콘텐츠
        v-layout(row='')
            v-flex(xs12='', md12='', :key="item.id")
                v-card.dal-card(flat='', tile='', hover='hover', raised='raised', style='min-width: 265px;', :class="$vuetify.breakpoint.xsOnly ? 'text-xs-left mb-3' : 'text-xs-left ma-2' ",:href="'/items/'+item.id")
                    v-card-media(:src="item.photos", height='250px')
                    code.mx-3.elevation-0.mt-3 수거전
                    v-card-title.title.mb-0.py-2.grey--text.text--darken-3 {{ "유실물 - " + item.id}}
                    v-card-text.py-0.subheading.grey--text.text--lighten-1 {{ getCategoryStringFromResult(item.subcategory) }}
                    //v-card-text.py-3.grey--text.text--darken-2(v-if="item.description.length > 0") {{ reduceString(item.description, 100) }}
                    v-card-text.py-0.text-xs-left.caption.grey--text.text--lighten-1 {{ vueMsToDateKo(item.dcv_date) }}
                    v-card-text.py-0.text-xs-left(v-if="item.tags.length > 0 || item.recognition_tags.length > 0")
                        span.caption.brown--text {{ hastTagsToString(item) }}
                    // share / detail 버튼 가운데로 배치
                    v-card-actions
                        v-spacer
                        v-btn(flat, small, slot='activator', color='orange', dark) Share
                        v-btn(flat,small, color='orange', :href="'/items/'+item.id") Detail