v-flex.mt-4(xs12='xs12', :class="$vuetify.breakpoint.xsOnly ? '' : 'px-4' ")
    v-layout(wrap='')
        v-flex.text-xs-center.pb-1.pt-1(xs12='', justify-center='', align-center='')
            p(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ?  'headline deep-orange--text text--darken-3 mb-0' : 'deep-orange--text text--darken-3 mb-0'", style='font-weight: bold; font-size: 230%;') 유실물
        // 필터로 입력한 후의 키워드 나열
        v-flex(xs6='', justify-center='', align-center='')
            // 선택한 목록 없으면 '전체 유실물 리스트' 표기
            v-breadcrumbs(divider='/', v-if='filter_keyword === false')
                v-breadcrumbs-item.title(v-text='filter_text', style='')
            // 선택한 목록을 리스트로 표기
            v-breadcrumbs(divider='/')
                v-breadcrumbs-item(v-for='item in getBreadCrumbsList()', :key='item.name', disabled='')
                    | {{ item.name }}
        // 필터 아이콘 터치한 경우
        v-flex.text-xs-right(xs6='', justify-center='', align-center='')
            v-btn(flat='', icon='', color='deep-orange darken-1', @click.native.stop='dialog_filter = !dialog_filter')
                v-icon.display-1 filter_list
            v-dialog(v-model='dialog_filter', max-width='500px')
                v-card
                    v-card-text.pb-0
                        v-select(required='', label='유실물 번호', :items='lost_filter_num', :filter='customFilter', v-model='id', item-text='name', autocomplete='', color='orange darken-1')
                        // append-icon="format_list_numbered"(아이콘)
                    v-card-text.pb-0
                        v-select(required='', label='상위 카테고리', :items='lost_filter_category_parent', :filter='customFilter', v-model='category', item-text='name', autocomplete='', color='orange darken-1')
                    v-card-text.pb-0
                        v-select(required='', label='상세 카테고리', :items='lost_filter_category_child', :filter='customFilter', v-model='subcategory', item-text='name', autocomplete='', color='orange darken-1')
                    v-card-text.pb-0
                        v-select(required='', label='유실물 상태', :items='lost_filter_state', :filter='customFilter', v-model='status', item-text='name', autocomplete='', color='orange darken-1')
                        small.grey--text * This doesn't actually save.
                    v-card-actions
                        v-spacer
                        v-btn(flat='', color='info', @click='resetFilterItem()') 초기화
                        //함수여러개 호출이 가능한가??
                        v-btn(flat='', color='warning', @click.native='postFilterData()') 확인
                        v-btn(flat='', color='success', @click.native='dialog_filter = false') 닫기

v-flex(xs12='', sm12='', container='')
    v-layout(wrap)
        v-flex(xs12, sm6, md6, lg4 v-for="item in WFAs", :key="item.id")
            include card_item