v-fab-transition
    v-menu(:close-on-content-click='false', :nudge-width='Math.min($vuetify.breakpoint.width - 60, 400)', v-model='chatManager.data.menu', offset-x='', left='', v-if="loginData.user !== null")
        //v-btn(slot='activator', medium='', dark='', fab='', right='', top='', fixed='', color='deep-orange darken-3', style='margin-top: 60px;', v-show="chatManager.data.dialog")
        v-btn.ma-0.mr-2(flat, icon, :color="scrollData.offsetTop >= 50 && dalMessage.data.currentPath === '/' ? 'orange darken-3' : 'white' ", slot='activator')
            v-icon.subheading chat
        //채팅 목록
        v-card(v-if='chatManager.data.chat_list == true')
            v-card-media.pa-0(height='380px')
                v-flex(xs12='', sm12='')
                    v-list
                        v-subheader 채팅 목록
                        v-list-tile(v-for='item in chatManager.data.chat_lists', :key='item.name', avatar='', @click='chatManager.ChatSelect(item); chatManager.connect()')
                            v-list-tile-avatar
                                v-icon account_circle
                            v-list-tile-content
                                v-list-tile-title(v-text='item.name2')
                            v-list-tile-action(v-if="item.unreadcount > 0")
                                v-btn.mr-2(icon, ripple, small, color="red darken-1", dark)
                                    | {{ item.unreadcount }}
                        //v-icon( color="grey lighten-1") info
                    //v-list-tile-action(v-if='item.roomport == chatManager.data.chat_clicked')
                        // <v-icon color="teal">chat_bubble</v-icon>
            v-card-actions
                v-spacer
                v-btn(color='primary', flat='', @click='chatManager.data.menu = false') 나가기
        // 대화 상대 클릭 후
        v-card(v-if='chatManager.data.chat_clicked && chatManager.data.chat_list == false')
            v-card-text.pa-0
                v-layout(wrap='')
                    v-flex(xs12='', sm12='', mt-1='', px-0='', pl-2)
                        //v-list
                        //    v-list-tile
                        //        v-list-tile-action
                        //            v-btn(small='', fab='', flat='', absolute='', @click='chatManager.data.chat_list = true')
                        //                v-icon(medium='', color='grey darken-3', style='weight: auto; height:auto;') arrow_back
                        //        v-list-tile-avatar(style='margin-left: -4%')
                        //            v-icon(large='') account_circle
                        //        v-list-tile-content
                        //            v-list-tile-title {{selectedItem.name2}}
                        v-list(v-for='item in chatManager.data.chat_lists', :key='item.roomport', v-if='item.roomport == chatManager.data.chat_clicked')
                            v-list-tile( avatar='', ripple='')
                                v-list-tile-action
                                    v-btn(small='', fab='', flat='', absolute='', @click='chatManager.data.chat_list = true')
                                        v-icon(medium='', color='grey darken-3', style='weight: auto; height:auto;') arrow_back
                                v-list-tile-avatar(style='margin-left: -4%')
                                    v-icon(large='') account_circle
                                v-list-tile-content
                                    v-list-tile-title {{item.name2}}

                                    //chevron_left
                //v-flex(xs3='', sm3='', mt-3='', pl-5='', pt-2='')
                //    v-btn(small='', fab='', flat='', absolute='', v-on:click='chat_list = true')
                //        v-icon(medium='', color='blue darken-2') chevron_left
            // 채팅창
            v-card-media.pa-0#chatWindow(height='300px')
                v-flex(xs12='', sm12='', mt-0='')
                    //v-container
                    v-card.scroll-y.elevation-0(id='popScrollList', style='overflow-y: auto; border-bottom: 1px solid #e7e7e7; margin-left: 3%; margin-right: 2%;', height="300px")
                        //v-layout(wrap='')
                        //    v-flex(xs12='', sm12='', px-0='', text-xs-right='', style='height: 71vh;')
                        v-list#popChatList(subheader='', v-for='item in chatManager.data.chat_lists', :key='item.roomport', v-if='item.roomport == chatManager.data.chat_clicked', dense='')
                            v-list-tile(avatar='', v-for='msg in item.msg', :key="msg.sendtime", v-if="msg.message !== null")
                                v-list-tile-content(v-if="msg.sender == chatManager.data.sender")
                                    //v-chip(color='deep-orange darken-3', text-color='white') {{ msg.sentence + " " + msg.stamp }}
                                v-list-tile-content(v-else)
                                    v-chip(text-color='black') {{ msg.message }}
                                v-list-tile-action(v-if="msg.sender == chatManager.data.sender")
                                    v-chip(color='deep-orange darken-3', text-color='white') {{ msg.message }}


            v-card-text.pt-0
                v-layout(wrap='', mt-2)
                    //style='border-top: 1px solid #e7e7e7;' :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'px-0' : 'px-3'"
                    v-flex(xs12='', sm12='')
                        v-layout(wrap='')
                            v-flex(xs9='', sm9='')
                                v-text-field.transparent(flat='', solo='', label='내용을 입력해주세요.', v-model='chatManager.data.message', @keyup.enter='chatManager.send()')
                            v-flex(xs2='', sm2='', offset-sm1='', style='padding-top: 2px;')
                                v-btn.success(round='', @click='chatManager.send()', style='min-width: 5%; margin-left: 0;') 전송