//v-slide-y-transition
v-toolbar.safe-area-inset-padding(fixed, dark, flat, :dense="$vuetify.breakpoint.xsOnly", :color="scrollData.offsetTop < 50 ? 'transparent' : 'white' ")
    img(src='/images/logo/logo_color.svg', height='25px', onclick="window.location.href='/'", v-if="scrollData.offsetTop >= 50")
    v-toolbar-title.ml-2.orange--text.darken-3(v-text='title', onclick="window.location.href='/'", v-if="scrollData.offsetTop >= 50")
    v-spacer
    code.elevation-0.mr-2(v-if='supporter.isAdmin()') 관리자
    v-toolbar-items
        v-progress-circular(indeterminate, :color="scrollData.offsetTop < 50 ? 'white' : 'orange darken-3' ", v-if="loginData.isProgress", style="margin: auto;", size="20")
        v-btn(flat, style='height: auto;', :color="scrollData.offsetTop < 50 ? 'white' : 'orange darken-3' ", v-if="loginData.user === null&& loginData.isProgress") 로그인 중...
        v-btn(flat, style='height: auto;', :color="scrollData.offsetTop < 50 ? 'white' : 'orange darken-3' ",@click.native="loginData.dialog = true", v-if="loginData.user === null&& !loginData.isProgress") Login
        v-btn(flat, style='height: auto;', :color="scrollData.offsetTop < 50 ? 'white' : 'orange darken-3' ", @click.native="loginData.infoDialog = true", v-if='loginData.user !== null') {{ loginData.user.name }}님
    //v-btn.ma-0.mr-2(flat, icon, v-if="loginData.user !== null", :color="scrollData.offsetTop < 50 ? 'white' : 'orange darken-3' ")
    //    v-icon.subheading {{ msgData.newMsgCount > 0 ? 'notifications_active' : 'notifications_none'}}
    //    span(v-if='msgData.newMsgCount > 0')
    //        | {{msgData.newMsgCount}}
    include toolbar_msg_menu
    include toolbar_chat



include dialog_login
include dialog_msg

