/*메인 페이지_ 최근 등록한 유실물 섹션*/


/*최근 등록한 유실물 tab의 화살표 중앙 배치*/
.tabs__icon { line-height: 440px; font-size: 2.0em;}


@media only screen and (max-width: 770px) {
    /*메인 페이지_ 두 번째 섹션_ 최근 등록된 유실물*/

    /*카드 이미지의 크기 조절*/
    #recent_register_items #recent_register_cards img { height: 50px !important;}

    /*최근 등록된 유실물 more버튼 모바일 크기 변화*/
    #recent_register_button { min-width: 55px !important; font-size: 0.7em !important; max-height: 25px !important;}

}

