.dialog{
    border-radius: 20px !important;
}
.dialog--fullscreen{
    border-radius: 2px !important;
    /*padding-bottom: env(safe-area-inset-bottom);*/
    /*padding-bottom: constant(safe-area-inset-bottom);*/
}

.bottom-sheet.dialog.bottom-sheet--inset{
    border-radius: 20px 20px 0px 0px !important;
    overflow: hidden;
}
.snack__wrapper{
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
}



.rounded-expansion-panel{

}

.rounded-expansion-panel .expansion-panel__container:hover{
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
    box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
}

.rounded-expansion-panel .expansion-panel__container--active {
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
    box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
    overflow: hidden;
}

.rounded-expansion-panel .expansion-panel__container--active:hover {
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
    box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
}


/*=========*/

.dal-card {
    border-radius: 20px !important;
    -webkit-box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
    box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
}

.dal-card:hover{
    -webkit-box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
    box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
}

.dal-small-card {
    border-radius: 10px !important;
    -webkit-box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
    box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
}

.dal-small-card:hover{
    -webkit-box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
    box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
}

.dal-image-card {
    border-radius: 20px !important;
    -webkit-box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
    box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
    transition: all 0.3s ease-in-out;
}

.dal-image-card:hover{
    -webkit-box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
    box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
    transition: all 0.3s ease-in-out;
}


#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.full-background-image {

    background: url(https://cdn.pixabay.com/photo/2018/03/13/22/53/puzzle-3223941_1280.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#overlay {
    /*position: fixed; !* Sit on top of the page content *!*/
    /*display: none; !* Hidden by default *!*/
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.bottom-safe-area-padding {
    padding-bottom: env(safe-area-inset-bottom) !important;
    padding-bottom: constant(safe-area-inset-bottom) !important;
}

.tab-nav {
    margin-bottom: env(safe-area-inset-bottom);
    margin-bottom: constant(safe-area-inset-bottom);

}

.safe-area-inset {
    margin-left: constant(safe-area-inset-left) !important;
    margin-left: env(safe-area-inset-left) !important;
    margin-right: constant(safe-area-inset-right) !important;
    margin-right: env(safe-area-inset-right) !important;
}
.safe-area-inset-padding {
    padding-left: constant(safe-area-inset-left) !important;
    padding-left: env(safe-area-inset-left) !important;
    padding-right: constant(safe-area-inset-right) !important;
    padding-right: env(safe-area-inset-right) !important;
}

.bottom-tab-height {
    min-height: 48px;
    height: calc(48px + env(safe-area-inset-bottom)) !important;
    height: calc(48px + constant(safe-area-inset-bottom)) !important;
}

.footer-bottom-padding {
    padding-bottom: 48px;
    margin-bottom: calc((-48px + env(safe-area-inset-bottom)));
    margin-bottom: calc((-48px + constant(safe-area-inset-bottom)));
}

.bottom-sheet .list{
    /*padding-bottom: 50px;*/
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
}