.dialog{
    border-radius: 20px !important;
}
.dialog--fullscreen{
    border-radius: 2px !important;
}

.dal-card {
    border-radius: 20px !important;
    -webkit-box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
    box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
}

.dal-card:hover{
    -webkit-box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
    box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
}

.dal-small-card {
    border-radius: 10px !important;
    -webkit-box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
    box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
}

.dal-small-card:hover{
    -webkit-box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
    box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
}

.dal-image-card {
    border-radius: 20px !important;
    -webkit-box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
    box-shadow: 0 2px 43px -4px rgba(0,0,0,.19) !important;
    transition: all 0.3s ease-in-out;
}

.dal-image-card:hover{
    -webkit-box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
    box-shadow: 0 2px 10px -4px rgba(0,0,0,.59) !important;
    transition: all 0.3s ease-in-out;
}