<!DOCTYPE html>
<html lang="en">

<head>
    <title>Discovery and Lost beta_manage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://beta.denl.xyz/javascripts/additional-func.js"></script>
    <link href="https://beta.denl.xyz/stylesheets/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <!--<script src="/scripts/jquery.min.js"></script>-->
    <!--script(src='/bootstrap/dist/js/bootstrap.min.js')-->
    <!--link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')-->
    <!--<script src="/scripts/axios.min.js"></script>-->
    <!--<script src="/scripts/vue.js"></script>-->
    <!--link(href='/styles/vuetify.min.css', rel='stylesheet')-->
    <!--script(src='/scripts/vuetify.min.js')-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        // 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('d3e2ef60efcb6f73aad9244a187a0902');
        //]]>
    </script>

    <style>
        .tabs__icon { line-height: 440px; font-size: 2.0em;}

        @font-face {
            font-family: "day";
            src: url(../stylesheets/day.ttf);
        }

        /*등록 소개 섹션_ 폰트 설정*/
        #introduce_register { font-family: 'day', sans-serif;}


    </style>

</head>

<body>
<div id="app">
    <v-app light>
        <v-container class="scroll-y pa-0" id="scroll-target" fluid style="overflow-x: hidden;">
            <v-layout column>
                <v-toolbar fixed dark dense color="deep-orange darken-3"><img src="../images/logo/logo_white.svg" height="25px">
                    <v-toolbar-title class="ml-2" v-text="title" onclick="window.location.href='/'"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn flat style="height: auto;">Login</v-btn>
                        <v-btn flat style="height: auto;">홍길동님</v-btn>
                    </v-toolbar-items>
                </v-toolbar>

                <div style="margin-top: 48px;">
                    <v-app>
                        <v-content class="brown lighten-5">
                            <v-container :fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly"
                                         :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'pa-2' : 'pa-0'">

                                <v-card :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'elevation-0 my-2' : 'elevation-10 my-5'">

                                    <v-layout wrap>
                                        <v-flex xs12 sm12>

                                            <!--<v-card-title class="headline pa-0">유실물 관리</v-card-title>
                                            <v-divider class="mt-4 mb-4"></v-divider>-->

                                            <v-tabs icons-and-text centered dark color="deep-orange darken-1" height="125">

                                                <v-tabs-slider color="yellow"></v-tabs-slider>
                                                <v-layout column>
                                                    <v-flex xs12 :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'pa-1' : 'pa-2'">
                                                        <v-text-field
                                                                append-icon="search"
                                                                label="search"
                                                                solo-inverted
                                                                class="mx-8"
                                                                flat
                                                        ></v-text-field>
                                                    </v-flex>

                                                    <v-flex xs12 justify-center align-center text-xs-center>
                                                        <v-tab class="subheading" href="#tab-1">
                                                            HOME
                                                            <v-icon>home</v-icon>
                                                            <!--<v-icon>account_box</v-icon>-->
                                                        </v-tab>
                                                        <v-tab class="subheading" href="#tab-2">
                                                            Lost
                                                            <v-icon>view_comfy</v-icon>
                                                        </v-tab>
                                                        <v-tab class="subheading" href="#tab-3">
                                                            Statistics
                                                            <v-icon>poll</v-icon>
                                                        </v-tab>
                                                    </v-flex>

                                                </v-layout>


                                                <!--######## Home 탭 컨텐츠 ########-->
                                                <v-tab-item
                                                        :id="'tab-' + 1"
                                                >

                                                    <!--####### 수거하지 않은 물품 #######-->
                                                    <v-flex xs12 sm12 :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'mt-4 mx-0 pa-1 px-3' : 'mt-4 mx-5 pa-1 px-3'">
                                                        <div class="headline ">수거하지 않은 물품</div>
                                                        <v-divider class="my-2"></v-divider>
                                                    </v-flex>

                                                    <v-flex xs12 sm12 container class="pt-0">

                                                        <!--tabs의 높이 조절, 배경 투명화, slider 제거-->
                                                        <v-tabs id="#" height="500px" color="transparent" slider-color="none"
                                                                prev-icon="keyboard_arrow_left" next-icon="keyboard_arrow_right" >

                                                            <!---tab에 있는 카드 사이의 간격 조절-->
                                                            <v-tab
                                                                    xs12
                                                                    style="margin: 0 10px;"
                                                                    class="pr-0"
                                                                    v-for="card in home_collect"
                                                                    v-bind="{ [`sm${card.flex}`]: true }"
                                                                    :key="card.category">

                                                                <v-layout wrap>
                                                                    <v-flex
                                                                            xs12
                                                                            flat
                                                                            class="elevation-0"
                                                                    >


                                                                        <!--tab 안에 있는 카드 내용 콘텐츠-->
                                                                        <v-layout row>
                                                                            <v-flex xs12 md12>
                                                                                <v-card id="#" flat="" tile="" hover="hover" raised="raised" style="min-width: 265px;"
                                                                                        :class="$vuetify.breakpoint.xsOnly ? 'text-xs-left mb-3' : 'text-xs-left ma-2' " href="###" class="dal-card" >
                                                                                    <v-card-media :src="card.src" height="250px"></v-card-media>
                                                                                    <code class="mx-3 elevation-0 mt-3">수거전</code>
                                                                                    <v-card-title class="title mb-0 py-2 grey--text text--darken-3">유실물 - 4</v-card-title>
                                                                                    <v-card-text v-text="card.category" class="pt-0 subheading grey--text text--lighten-1"></v-card-text>
                                                                                    <!--<v-card-text class="py-3  grey&#45;&#45;text text&#45;&#45;darken-2">상세 설명</v-card-text>-->
                                                                                    <v-card-text v-text="card.date" class="py-0 body-1 grey--text text--lighten-1"></v-card-text>
                                                                                    <v-card-text class="py-0"><span class="caption brown--text">#lipstick #cosmetics #nail #lip</span></v-card-text>

                                                                                    <!--share / detail 버튼 가운데로 배치-->
                                                                                    <v-card-actions justify-center>
                                                                                        <v-spacer></v-spacer>
                                                                                        <v-btn flat="flat" small="small" slot="activator" color="orange" dark="dark">Share</v-btn>
                                                                                        <v-btn flat="flat" small="small" color="orange" href="/items/4">Detail</v-btn>
                                                                                    </v-card-actions>
                                                                                </v-card>

                                                                            </v-flex>
                                                                        </v-layout>
                                                                    </v-flex>

                                                                </v-layout>
                                                            </v-tab>
                                                        </v-tabs>
                                                    </v-flex>



                                                    <!--####### 요청이 발생한 품목 #######-->
                                                    <v-flex xs12 sm12 :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'mt-4 mx-0 pa-1 px-3' : 'mt-4 mx-5 pa-1 px-3'">
                                                        <div class="headline">요청이 발생한 품목</div>
                                                        <v-divider class="my-2"></v-divider>
                                                    </v-flex>

                                                    <v-flex xs12 sm12 container class="pt-0">

                                                        <!--tabs의 높이 조절, 배경 투명화, slider 제거-->
                                                        <v-tabs id="#" height="500px" color="transparent" slider-color="none"
                                                                prev-icon="keyboard_arrow_left" next-icon="keyboard_arrow_right" >

                                                            <!---tab에 있는 카드 사이의 간격 조절-->
                                                            <v-tab
                                                                    xs12
                                                                    style="margin: 0 10px;"
                                                                    class="pr-0"
                                                                    v-for="card in home_request"
                                                                    v-bind="{ [`sm${card.flex}`]: true }"
                                                                    :key="card.category">

                                                                <v-layout wrap>
                                                                    <v-flex
                                                                            xs12
                                                                            flat
                                                                            class="elevation-0"
                                                                    >

                                                                        <!--tab 안에 있는 카드 내용 콘텐츠-->
                                                                        <v-layout row>
                                                                            <v-flex xs12 md12>
                                                                                <v-card id="recent_register_cards" flat="" tile="" hover="hover" raised="raised" style="min-width: 265px;"
                                                                                        :class="$vuetify.breakpoint.xsOnly ? 'text-xs-left mb-3' : 'text-xs-left ma-2' " href="###" class="dal-card" >
                                                                                    <v-card-media :src="card.src" height="250px"></v-card-media>
                                                                                    <code class="mx-3 elevation-0 mt-3">수거전</code>
                                                                                    <v-card-title class="title mb-0 py-2 grey--text text--darken-3">유실물 - 4</v-card-title>
                                                                                    <v-card-text v-text="card.category" class="pt-0 subheading grey--text text--lighten-1"></v-card-text>
                                                                                    <!--<v-card-text class="py-3  grey&#45;&#45;text text&#45;&#45;darken-2">상세 설명</v-card-text>-->
                                                                                    <v-card-text v-text="card.date" class="py-0 body-1 grey--text text--lighten-1"></v-card-text>
                                                                                    <v-card-text class="py-0"><span class="caption brown--text">#lipstick #cosmetics #nail #lip</span></v-card-text>

                                                                                    <!--share / detail 버튼 가운데로 배치-->
                                                                                    <v-card-actions justify-center>
                                                                                        <v-spacer></v-spacer>
                                                                                        <v-btn flat="flat" small="small" slot="activator" color="orange" dark="dark">Share</v-btn>
                                                                                        <v-btn flat="flat" small="small" color="orange" href="/items/4">Detail</v-btn>
                                                                                    </v-card-actions>
                                                                                </v-card>

                                                                            </v-flex>
                                                                        </v-layout>
                                                                    </v-flex>

                                                                </v-layout>
                                                            </v-tab>
                                                        </v-tabs>
                                                    </v-flex>



                                                    <!--####### 장기간 미 수령 품목 #######-->
                                                    <v-flex xs12 sm12 :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'mt-4 mx-0 pa-1 px-3' : 'mt-4 mx-5 pa-1 px-3'">
                                                        <div class="headline">장기간 미 수령 품목</div>
                                                        <v-divider class="my-2"></v-divider>
                                                    </v-flex>

                                                    <v-flex xs12 sm12 container class="pt-0">

                                                        <!--tabs의 높이 조절, 배경 투명화, slider 제거-->
                                                        <v-tabs id="#" height="500px" color="transparent" slider-color="none"
                                                                prev-icon="keyboard_arrow_left" next-icon="keyboard_arrow_right" >

                                                            <!---tab에 있는 카드 사이의 간격 조절-->
                                                            <v-tab
                                                                    xs12
                                                                    style="margin: 0 10px;"
                                                                    class="pr-0"
                                                                    v-for="card in home_longterm"
                                                                    v-bind="{ [`sm${card.flex}`]: true }"
                                                                    :key="card.category">

                                                                <v-layout wrap>
                                                                    <v-flex
                                                                            xs12
                                                                            flat
                                                                            class="elevation-0"
                                                                    >

                                                                        <!--tab 안에 있는 카드 내용 콘텐츠-->
                                                                        <v-layout row>
                                                                            <v-flex xs12 md12>
                                                                                <v-card id="recent_register_cards" flat="" tile="" hover="hover" raised="raised" style="min-width: 265px;"
                                                                                        :class="$vuetify.breakpoint.xsOnly ? 'text-xs-left mb-3' : 'text-xs-left ma-2' " href="###" class="dal-card" >
                                                                                    <v-card-media :src="card.src" height="250px"></v-card-media>
                                                                                    <code class="mx-3 elevation-0 mt-3">수거전</code>
                                                                                    <v-card-title class="title mb-0 py-2 grey--text text--darken-3">유실물 - 4</v-card-title>
                                                                                    <v-card-text v-text="card.category" class="pt-0 subheading grey--text text--lighten-1"></v-card-text>
                                                                                    <!--<v-card-text class="py-3  grey&#45;&#45;text text&#45;&#45;darken-2">상세 설명</v-card-text>-->
                                                                                    <v-card-text v-text="card.date" class="py-0 body-1 grey--text text--lighten-1"></v-card-text>
                                                                                    <v-card-text class="py-0"><span class="caption brown--text">#lipstick #cosmetics #nail #lip</span></v-card-text>

                                                                                    <!--share / detail 버튼 가운데로 배치-->
                                                                                    <v-card-actions justify-center>
                                                                                        <v-spacer></v-spacer>
                                                                                        <v-btn flat="flat" small="small" slot="activator" color="orange" dark="dark">Share</v-btn>
                                                                                        <v-btn flat="flat" small="small" color="orange" href="/items/4">Detail</v-btn>
                                                                                    </v-card-actions>
                                                                                </v-card>

                                                                            </v-flex>
                                                                        </v-layout>
                                                                    </v-flex>

                                                                </v-layout>
                                                            </v-tab>
                                                        </v-tabs>
                                                    </v-flex>



                                                </v-tab-item>


                                                <!--######## Lost 탭 컨텐츠 ########-->
                                                <v-tab-item
                                                        :id="'tab-' + 2"
                                                >

                                                    <v-flex xs12 sm12 :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'mt-4 mx-0 pa-1 px-3' : 'mt-4 mx-5 pa-1 px-3'">
                                                        <div class="headline">유실물</div>
                                                        <v-divider class="my-2"></v-divider>
                                                    </v-flex>

                                                    <v-flex xs12 sm12 container class="pt-0">

                                                        <!--tabs의 높이 조절, 배경 투명화, slider 제거-->
                                                        <v-tabs id="#" height="500px" color="transparent" slider-color="none"
                                                                prev-icon="keyboard_arrow_left" next-icon="keyboard_arrow_right" >

                                                            <!---tab에 있는 카드 사이의 간격 조절-->
                                                            <v-tab
                                                                    xs12
                                                                    style="margin: 0 10px;"
                                                                    class="pr-0"
                                                                    v-for="card in Lost"
                                                                    v-bind="{ [`sm${card.flex}`]: true }"
                                                                    :key="card.category">

                                                                <v-layout wrap>
                                                                    <v-flex
                                                                            xs12
                                                                            flat
                                                                            class="elevation-0"
                                                                    >

                                                                        <!--tab 안에 있는 카드 내용 콘텐츠-->
                                                                        <v-layout row>
                                                                            <v-flex xs12 md12>
                                                                                <v-card id="recent_register_cards" flat="" tile="" hover="hover" raised="raised" style="min-width: 265px;"
                                                                                        :class="$vuetify.breakpoint.xsOnly ? 'text-xs-left mb-3' : 'text-xs-left ma-2' " href="###" class="dal-card" >
                                                                                    <v-card-media :src="card.src" height="250px"></v-card-media>
                                                                                    <code class="mx-3 elevation-0 mt-3">수거전</code>
                                                                                    <v-card-title class="title mb-0 py-2 grey--text text--darken-3">유실물 - 4</v-card-title>
                                                                                    <v-card-text v-text="card.category" class="pt-0 subheading grey--text text--lighten-1"></v-card-text>
                                                                                    <!--<v-card-text class="py-3  grey&#45;&#45;text text&#45;&#45;darken-2">상세 설명</v-card-text>-->
                                                                                    <v-card-text v-text="card.date" class="py-0 body-1 grey--text text--lighten-1"></v-card-text>
                                                                                    <v-card-text class="py-0"><span class="caption brown--text">#lipstick #cosmetics #nail #lip</span></v-card-text>

                                                                                    <!--share / detail 버튼 가운데로 배치-->
                                                                                    <v-card-actions justify-center>
                                                                                        <v-spacer></v-spacer>
                                                                                        <v-btn flat="flat" small="small" slot="activator" color="orange" dark="dark">Share</v-btn>
                                                                                        <v-btn flat="flat" small="small" color="orange" href="/items/4">Detail</v-btn>
                                                                                    </v-card-actions>
                                                                                </v-card>

                                                                            </v-flex>
                                                                        </v-layout>
                                                                    </v-flex>


                                                                </v-layout>
                                                            </v-tab>
                                                        </v-tabs>
                                                    </v-flex>

                                                </v-tab-item>


                                                <!--######## Statistic 탭 컨텐츠 ########-->
                                                <v-tab-item
                                                        :id="'tab-' + 3"
                                                >
                                                    <v-flex class="mt-4 mx-5 pa-1 px-3" xs12 sm12 :class="$vuetify.breakpoint.xsOnly ? '' : 'px-0' ">
                                                        <div class="headline">유실물 추이</div>
                                                        <v-divider class="my-2"></v-divider>
                                                    </v-flex>
                                                </v-tab-item>
                                            </v-tabs>

                                        </v-flex>

                                    </v-layout>
                                </v-card>

                                <!--<v-flex class="mt-4" xs12="xs12" :class="$vuetify.breakpoint.xsOnly ? '' : 'px-4' ">
                                    <div class="headline pa-0 mt4">수거하지 않은 물품</div>
                                    <v-divider class="mb-1 mt-3"></v-divider>
                                </v-flex>
                                <v-card-title class="pa-0">
                                    <v-container v-bind="{ [`grid-list-lg`]: true }" :class="$vuetify.breakpoint.xsOnly ? 'pa-2 pt-4' : '' ">
                                        <v-layout wrap="wrap">
                                            <v-flex xs12="xs12" sm6="sm6" md6="md6" lg4="lg4">
                                                <v-card class="dal-card" flat="" tile="" hover="hover" raised="raised" :class="$vuetify.breakpoint.xsOnly ? 'mb-3' : 'ma-2' ">
                                                    <v-card-media src="temp" height="300px"></v-card-media>
                                                    <code class="mx-3 elevation-0 mt-3">Status</code>
                                                    <v-card-title class="title mb-0 py-2 grey&#45;&#45;text text&#45;&#45;darken-3">{{ "유실물 - " + 47}}</v-card-title>
                                                    &lt;!&ndash;v-card-text.py-0.subheading.grey&#45;&#45;text.text&#45;&#45;lighten-1 {{ getCategoryStringFromResult(item.subcategory) }}&ndash;&gt;
                                                    <v-card-text class="py-3 grey&#45;&#45;text text&#45;&#45;darken-2">description</v-card-text>
                                                    <v-card-text class="py-0 text-xs-left caption grey&#45;&#45;text text&#45;&#45;lighten-1">2017.08.12</v-card-text>
                                                    <v-card-text class="py-0 text-xs-left"><span class="caption brown&#45;&#45;text">태그</span></v-card-text>
                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn flat="flat" small="small" slot="activator" color="orange" dark="dark">Share</v-btn>
                                                        <v-btn flat="flat" small="small" color="orange">Detail</v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-card-title>-->


                            </v-container>
                        </v-content>
                    </v-app>
                </div>
            </v-layout>
        </v-container>
    </v-app>
</div>
<script>
    const vue = new Vue({
        el: '#app',
        data: {
            title: 'D&L',
            scrollData: {
                fab: false,
                offsetTop: 0,
                scrollT: 0,
                delta: 200,
                isShowFabTop: true,
                transition: 'slide-y-reverse-transition'
            },

            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' +
            ' Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',

            /*######## 홈 탭_ 수거하지 않은 품목 섹션 ########*/
            home_collect: [
                { category: '상위 > 하위', category2: '하위', date: '17.03.02', tag: '카테고리', src: '../images/picture/test_camera.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Favorite road trips', src: 'https://beta.denl.xyz/15209169980379ERwLMa3AK.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_earing.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
            ],

            /*######## 홈 탭_ 요청이 발생한 품목 섹션 ########*/
            home_request: [
                { category: '상위 > 하위', category2: '하위', date: '17.03.02', tag: '카테고리', src: '../images/picture/test_camera.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Favorite road trips', src: 'https://beta.denl.xyz/15209169980379ERwLMa3AK.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_earing.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
            ],

            /*######## 홈 탭_ 장기간 미 수령 품목 섹션 ########*/
            home_longterm: [
                { category: '상위 > 하위', category2: '하위', date: '17.03.02', tag: '카테고리', src: '../images/picture/test_camera.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Favorite road trips', src: 'https://beta.denl.xyz/15209169980379ERwLMa3AK.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_earing.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
            ],

            /*######## Lost 탭_ 유실물 섹션 ########*/
            Lost: [
                { category: '상위 > 하위', category2: '하위', date: '17.03.02', tag: '카테고리', src: '../images/picture/test_camera.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Favorite road trips', src: 'https://beta.denl.xyz/15209169980379ERwLMa3AK.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_earing.jpg', flex: 3 },
                { category: '상위', category2: '하위', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
                { category: 'camera', date: '17.03.02', tag: 'Best airlines', src: '../images/picture/test_ring.jpg', flex: 3 },
            ],



            loginData:{

            }

        },
        method:{

        },
        mounted:[
            // function(){
            //     $(window).scroll(
            //         function (event) {
            //
            //             var scroll = $(window).scrollTop();
            //
            //             vue.scrollData.scrollT += (scroll-vue.scrollData.offsetTop);
            //
            //             if(vue.scrollData.scrollT > vue.scrollData.delta){
            //                 vue.scrollData.isShowFabTop = true;
            //                 vue.scrollData.scrollT = 0;
            //             }else if (vue.scrollData.scrollT < -vue.scrollData.delta) {
            //                 vue.scrollData.isShowFabTop = false;
            //                 vue.scrollData.scrollT = 0;
            //             }
            //
            //             vue.scrollData.offsetTop = scroll;
            //
            //             if(scroll === 0){
            //                 vue.scrollData.isShowFabTop = false;
            //                 vue.scrollData.scrollT = 0;
            //                 vue.scrollData.offsetTop = 0;
            //             }
            //
            //         }
            //     );
            // }
        ]
    })
</script>
</body>

</html>